<div class="dialog-wrapper">
  <!-- header -->
  <div class="dialog-header">
    <div class="flex justify-end">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>

  <!-- content -->
  <div class="dialog-content">
    <h2 class="color-gray-dark">Baixe o aplicativo</h2>

    <p class="label-body-1 mt-24">
      Para experimentar o Trokaí por completo, baixe gratuitamente o aplicativo
      para Android ou iOS.
    </p>

    <div class="download-grid mt-40">
      <div class="flex justify-center">
        <img
          id="phone-image"
          src="../../../../assets/img/imagem-celular.png"
          alt="Download aplicativo Trokaí"
        />
      </div>
      <div class="flex flex-col items-center justify-around">
        <div class="mx-24 hidden flex-md justify-center">
          <img
            src="../../../../assets/img/qr-code-download.png"
            class="w-75"
            alt="QRCode download aplicativo Trokaí"
          />
        </div>

        @if (!isAndroid && !isApple) {
          <div class="mt-48 w-full">
            <button
              (click)="clickDownload('android')"
              mat-stroked-button
              color="primary"
              class="w-full flex items-center"
            >
              <ion-icon name="logo-google-playstore" class="mr-16"></ion-icon>
              Google Play
            </button>
            <button
              (click)="clickDownload('ios')"
              mat-stroked-button
              color="primary"
              class="w-full mt-24 flex items-center"
            >
              <ion-icon name="logo-apple" class="mr-16"></ion-icon> App Store
            </button>
          </div>
        }

        @if (isAndroid || isApple) {
          <div class="w-full mt-48">
            @if (isAndroid) {
              <button
                (click)="clickDownload('android')"
                mat-stroked-button
                color="primary"
              >
                <ion-icon name="logo-google-playstore" class="mr-16"></ion-icon>
                Baixar na Google Play
              </button>
            }
            @if (isApple) {
              <button
                (click)="clickDownload('ios')"
                mat-stroked-button
                color="primary"
              >
                <ion-icon name="logo-apple" class="mr-16"></ion-icon> Baixar na
                App Store
              </button>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
