<div class="page-wrap">
  <div class="auth-card text-center">
    @if (!verified) {
      <div>
        <h2 class="color-gray-dark">Recuperar senha</h2>
        <span class="label-body-2 mt-48 block">
          Vamos te enviar um código de recuperação
        </span>
      </div>
    }

    @if (!emailSent) {
      <tk-recovery-email-form
        class="mt-48 pt-48 block"
        (submitted)="send($event)"
      ></tk-recovery-email-form>
    } @else if (!verified) {
      <tk-recovery-code-form
        class="mt-48 pt-48 block"
        (submitted)="verify($event)"
      ></tk-recovery-code-form>
    } @else {
      <app-password [forgot]="true" (updated)="updated()"></app-password>
    }
  </div>
</div>
