<div class="container page my-5">
  <div class="row">
    <div class="col col-md-4 mx-auto text-center">
      @if (!verified) {
        <div>
          <h2 class="color-gray-dark">Recuperar senha</h2>
          <span class="label-body-2 mt-5 d-block">
            Vamos te enviar um código de recuperação
          </span>
        </div>
      }

      @if (!emailSent) {
        <tk-recovery-email-form
          class="mt-5 pt-5 d-block"
          (submitted)="send($event)"
        ></tk-recovery-email-form>
      } @else if (!verified) {
        <tk-recovery-code-form
          class="mt-5 pt-5 d-block"
          (submitted)="verify($event)"
        ></tk-recovery-code-form>
      } @else {
        <app-password [forgot]="true" (updated)="updated()"></app-password>
      }
    </div>
  </div>
</div>
