@import "../../../styles/variables.scss";

.home_banner {
  width: 100%;

  .image-wrapper {
    width: 100%;
    border: 0px;
    opacity: 1;
    position: relative;
    background-color: $color-gray-light-2;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.home_banner:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .home_banner {
    .image-wrapper {
      aspect-ratio: 3.75;
    }
    .d-md-none {
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  .home_banner {
    .image-wrapper {
      aspect-ratio: 2.5;
      .d-none {
        visibility: visible;
      }
    }
  }
}
