<ion-header>
  <ion-toolbar mode="ios" class="clear" style="padding-top: 0px !important">
    <ion-buttons slot="primary">
      <ion-icon name="close" (click)="close()" mode="ios" class="modal-close">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-24">
    <h6 class="ion-text-center color-gray-dark">Cupom de desconto</h6>

    <ion-item class="ion-no-padding mt-32" mode="md">
      <ion-input
        label="Código do cupom"
        labelPlacement="floating"
        [(ngModel)]="couponCode"
        type="text"
      >
      </ion-input>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="px-24 py-16">
  <ion-button class="action-button" (click)="onApply()">Aplicar</ion-button>
</ion-footer>
