<ion-header>
  <ion-toolbar mode="ios" class="clear" style="padding-top: 0px !important">
    <ion-buttons slot="primary">
      <ion-icon name="close" (click)="close()" mode="ios" class="modal-close">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-24">
    <h6 class="text-center color-gray-dark">Cupom de desconto</h6>

    <mat-form-field appearance="outline" class="w-full mt-32">
      <mat-label>Código do cupom</mat-label>
      <input matInput [(ngModel)]="couponCode" type="text" />
    </mat-form-field>
  </div>
</ion-content>

<ion-footer class="px-24 py-16">
  <button
    mat-flat-button
    color="primary"
    class="action-button"
    (click)="onApply()"
  >
    Aplicar
  </button>
</ion-footer>
