<ion-header>
  <ion-toolbar mode="ios">
    <app-back-button defaultHref="/main/negotiations/0"></app-back-button>
    <ion-title> Compra </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-24">
    @if (loading) {
      <div class="w-full flex justify-center mt-40">
        <ion-spinner></ion-spinner>
      </div>
    }
    @if (order && !loading) {
      <tk-purchase-detail
        [order]="order"
        [globalParams]="globalParams"
        (openProduct)="openProduct($event)"
        (openSeller)="openOtherUser()"
        (openChat)="chat()"
        (copyPix)="copyPix()"
        (reload)="reload()"
      >
        <app-order-delivery
          delivery
          (confirmWithdrawalClick)="confirmWithdrawal()"
          [order]="order"
          [isPurchase]="true"
        ></app-order-delivery>
      </tk-purchase-detail>
    }
  </div>
</ion-content>

@if (waiting_review && !userMadeReview && !loading) {
  <ion-footer class="px-24 py-16">
    <button
      mat-flat-button
      color="primary"
      (click)="checkReview()"
      class="action-button"
    >
      Avaliar compra
    </button>
  </ion-footer>
}
@if (waiting_withdrawal && !loading) {
  <ion-footer class="px-24 py-16">
    <button
      mat-flat-button
      color="primary"
      (click)="confirmWithdrawal()"
      class="action-button"
    >
      Já recebi minha compra
    </button>
  </ion-footer>
}
