<form [formGroup]="form" (ngSubmit)="save()" class="mt-48">
  <div class="grid-row">
    <div class="gcol-12 gcol-md-8">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>CEP</mat-label>
        <input
          matInput
          type="text"
          mask="00000-000"
          formControlName="zipCode"
          (keyup)="onChangeCEP()"
          />
        @if (viaCepError) {
          <mat-hint> CEP inválido </mat-hint>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="grid-row">
    <div class="gcol-12 gcol-md-12">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Endereço</mat-label>
        <input matInput type="text" formControlName="street" />
      </mat-form-field>
    </div>
  </div>
  <div class="grid-row">
    <div class="gcol-12 gcol-md-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Número</mat-label>
        <input matInput type="text" formControlName="number" maxlength="6" />
      </mat-form-field>
    </div>

    <div class="gcol-12 gcol-md-8">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Complemento</mat-label>
        <input matInput type="text" formControlName="complement" />
      </mat-form-field>
    </div>
  </div>

  <div class="grid-row">
    <div class="gcol-12 ">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Bairro</mat-label>
        <input matInput type="text" formControlName="neighborhood" />
      </mat-form-field>
    </div>
  </div>

  <div class="grid-row">
    <div class="gcol-12 gcol-md-8">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Cidade</mat-label>
        <input matInput readonly type="text" formControlName="city" />
      </mat-form-field>
    </div>
    <div class="gcol-12 gcol-md-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Estado</mat-label>
        <input matInput readonly type="text" formControlName="state" />
      </mat-form-field>
    </div>
  </div>
  <div class="grid-row">
    <div class="gcol-12">
      @if (!encapsulated && submit) {
        <div
          class="w-full flex justify-end mt-16"
          >
          <button
            type="submit"
            mat-raised-button
            aria-label="Salvar"
            color="primary"
            >
            Salvar
          </button>
        </div>
      }

      @if (encapsulated && submit) {
        <div
          class="w-full flex justify-end mt-16"
          >
          <button
            type="button"
            mat-button
            aria-label="Cancelar"
            color="light"
            (click)="close()"
            >
            Cancelar
          </button>
          <button type="submit" mat-button aria-label="Salvar" color="primary">
            Salvar
          </button>
        </div>
      }
    </div>
  </div>
</form>
