<div class="row mb-48">
  <div class="col">
    <button color="primary" mat-button routerLink="/account/bank">
      <mat-icon>arrow_back</mat-icon> Cofrinho
    </button>
  </div>
</div>

<div class="row">
  @if(balance){
  <div class="col-12 col-md-5 mb-48">
    <h3 class="color-gray-dark">Resumo do saque</h3>

    <div class="w-full flex justify-between mb-8 mt-24">
      <span class="label-body-2"> Valor disponível</span>
      <span class="label-body-2">
        {{
          balance?.saldoDisponivel | cost | currency : "BRL" : true : "1.2-2"
        }}
      </span>
    </div>

    <mat-divider></mat-divider>

    <div class="w-full flex justify-between my-8">
      <span class="label-body-2"> Taxa de saque</span>
      <span class="label-body-2">
        {{ gatewayWithdrawFee | cost | currency : "BRL" : true : "1.2-2" }}
      </span>
    </div>
    <mat-divider></mat-divider>
    <div class="w-full flex justify-between my-8">
      <span class="label-body-2"> Valor a receber</span>
      <span class="label-body-2 color-primary">
        @if(hasEnough()){
        {{
          balance?.saldoDisponivel - gatewayWithdrawFee
            | cost
            | currency : "BRL" : true : "1.2-2"
        }}}
      </span>
    </div>

    <div class="mt-24">
      <span class="label-caption-1">
        A taxa de saque é fixa e não depende do valor a ser sacado. É uma taxa
        do parceiro de pagamentos, não do Trokaí.
      </span>
    </div>
  </div>

  <div class="col-12 col-md-6 offset-md-1">
    <h3 class="color-gray-dark">Conta bancária</h3>

    <app-bank-account-form (onContinue)="confirm()"></app-bank-account-form>
  </div>

  }
</div>
