<div class="dialog-wrapper">
  <!-- header -->
  <div class="dialog-header border-bottom">
    <div class="d-flex justify-content-end">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>

    <h4 class="color-gray-dark">Entenda as taxas</h4>
  </div>

  <!-- content -->

  <div class="dialog-content">
    @if (sellerFees) {
      <div class="mt-5">
        <div class="mt-3 d-flex justify-content-between">
          <span class="label-body-2"> Valor do produto </span>
          <span class="label-body-2">
            -
            {{ productCost | cost | currency : "BRL" : true : "1.2" }}
          </span>
        </div>
        <div class="mt-3 d-flex justify-content-between">
          <span class="label-body-2">
            Comissão ({{
            sellerFees.sellerPercentageFee * 100 | number : "1.0-2"
            }}%)</span
            >
            <span class="label-body-2">
              -
              {{
              sellerFees.sellerPercentageFee * productCost
              | cost
              | currency : "BRL" : true : "1.2"
              }}
            </span>
          </div>
          @if (declaredValue) {
            <div class="mt-3 d-flex justify-content-between">
              <span class="label-body-2"> Envio seguro </span>
              <span class="label-body-2">
                -
                {{
                sellerFees.declaredValueFee | cost | currency : "BRL" : true : "1.2"
                }}
              </span>
            </div>
          }
          <div class="mt-3 d-flex justify-content-between">
            <span class="label-body-2"><b>Você recebe</b></span>
            <span class="label-body-2">
              <b> {{ sellerProfit | cost | currency : "BRL" : true : "1.2" }}</b>
            </span>
          </div>
        </div>
      }
    </div>
  </div>
