<ion-header>
  <ion-toolbar mode="ios">
    <app-back-button defaultHref="/main/home"></app-back-button>
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-24">
    <span class="section-title">Dúvidas Frequentes</span>

    <div class="support-grid mt-16">
      <a routerLink="faq/seller">
        <div class="support-area">
          <!-- botao vendedor -->
          <ion-icon class="color-primary" name="storefront-outline" />
          <h4>Vendas</h4>
        </div>
      </a>
      <a routerLink="faq/buyer">
        <div class="support-area">
          <!-- botao comprador -->
          <ion-icon class="color-primary" name="cart-outline" />
          <h4>Compras</h4>
        </div>
      </a>
    </div>

    <span class="section-title mt-40 mb-4">Fale com o Trokaí</span>
    <span class="label-body-2">
      Se não encontrou a resposta para sua dúvida, entre em contato com a gente!
      Estamos prontos para ajudar.
    </span>

    <div class="support-grid mt-16">
      <a (click)="contact()">
        <div class="support-area">
          <!-- botao contato -->
          <ion-icon class="color-primary" name="mail-outline" />
          <h4>Entrar em contato</h4>
        </div>
      </a>
    </div>
  </div>
</ion-content>
