<div class="flex pt-16">
  <div class="flex-1"></div>
  <div class="items-center flex flex-1 justify-center">
    <span class="label-body-1"><b>Dicas de fotos</b></span>
  </div>
  <div class="flex-1 flex justify-end">
    <button mat-icon-button (click)="close()" class="pr-16">
      <ion-icon name="close-outline" class="color-gray-default"></ion-icon>
    </button>
  </div>
</div>

<ion-content>
  <swiper-container #swiper [pagination]="true" class="tips-swiper">
    @for (tip of tips; track $index) {
      <swiper-slide>
        <div class="tip-slide">
          <h5 class="color-gray-dark ion-text-center">{{ tip.label }}</h5>
          <div class="tip-image-wrapper">
            <img [src]="tip.img" [alt]="tip.label" class="tip-image" />
          </div>
          @if (tip.description) {
            <p class="label-body-2 color-gray-default mt-8 ion-text-start">
              {{ tip.description }}
            </p>
          }
        </div>
      </swiper-slide>
    }
  </swiper-container>
</ion-content>
