<ion-header>
  <ion-toolbar class="clear">
    <div class="m-24">
      <tk-search-bar
        [expanded]="true"
        [collapsed]="!showInitialPage()"
        [navMenu]="menu"
        [initialText]="searchText"
        (textChange)="onSearchTextChange($event)"
        (searchRequested)="onSearchRequested($event)"
      />
    </div>

    @if (!showInitialPage() && target === 'clothes') {
      <app-filter-tags
        [filters]="filters"
        (filtersChanged)="applyFilters($event)"
      ></app-filter-tags>
    }
  </ion-toolbar>
</ion-header>

<ion-content #content>
  @if (isLoading) {
    <div
      style="
        height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <ion-spinner name="crescent"> </ion-spinner>
    </div>
  } @if (!showInitialPage()) {
    <div>
      @if (!isLoading) {
        <div>
          @if (!results || results.length === 0) {
            <div class="empty-page full">
              <ion-icon name="sad-outline"></ion-icon>
              <span> Nenhum resultado</span>
            </div>
          } @if (results && results.length > 0) {
            <ion-list class="vertical my-24">
              @if (target === 'clothes') {
                <tk-product-list
                  [products]="results"
                  [useLink]="false"
                  [showFilters]="false"
                  (open)="openClothe($event)"
                ></tk-product-list>
              } @if (target === 'users') {
                <tk-user-list
                  [users]="results"
                  (clicked)="openUser($event)"
                ></tk-user-list>
              }
            </ion-list>
          }
        </div>
      }
      <ion-infinite-scroll
        [disabled]="endOfSearch || isLoading"
        (ionInfinite)="loadData($event)"
      >
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  }
</ion-content>
