<div class="row my-5 py-5">
  <div class="col d-flex justify-content-center">
    @if (paginator && paginator.numOfPages >= 1) {
      <div
        class="w-50 d-flex align-items-center justify-content-around"
        >
        <button
          type="button"
          mat-button
          color="primary"
          [disabled]="!previousEnabled"
          (click)="previous()"
          >
          <mat-icon>keyboard_arrow_left</mat-icon>
          Anterior
        </button>
        <button
          type="button"
          mat-button
          color="primary"
          [disabled]="!nextEnabled"
          (click)="next()"
          >
          Próxima
          <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    }
  </div>
</div>
