<div class="row my-48 py-48">
  <div class="col flex justify-center">
    @if (paginator && paginator.numOfPages >= 1) {
      <div
        class="w-50 flex items-center justify-around"
        >
        <button
          type="button"
          mat-button
          color="primary"
          [disabled]="!previousEnabled"
          (click)="previous()"
          >
          <mat-icon>keyboard_arrow_left</mat-icon>
          Anterior
        </button>
        <button
          type="button"
          mat-button
          color="primary"
          [disabled]="!nextEnabled"
          (click)="next()"
          >
          Próxima
          <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    }
  </div>
</div>
