<h3 class="checkout-title">Revise o pedido</h3>

@if (checkoutLocal && user ){

<div class="checkout-body">
  <div class="d-flex flex-column">
    <!-- Produtos -->
    <div class="py-5">
      <h3>Produtos</h3>

      <div class="d-flex flex-column">
        @for (product of checkoutLocal?.products; track product) {
        <app-cart-item [product]="product" [showRemove]="false" />
        }
      </div>
    </div>

    <!-- Entrega -->
    <div class="border-top py-5">
      <div class="d-flex justify-content-between">
        <h3>Entrega</h3>
        <span class="label-button" (click)="onChangeShipping()">Alterar</span>
      </div>

      @if (checkoutLocal?.shippingOption === shippingOptions.SHIPPING) { @if
      (user?.address) {
      <div class="d-flex flex-column mt-16">
        <span class="label-body-2">
          {{ user.address.street }},
          {{ user.address.number }}
          {{ user.address.complement ? ", " + user.address.complement : "" }}
        </span>
        <span class="label-body-2">
          {{ user.address.zipCode | mask : "00000-000" }},
          {{ user.address.neighborhood }}
        </span>
        <span class="label-body-2">
          {{ user.address.city }} - {{ user.address.state }}
        </span>
      </div>
      } } @else {
      <div class="d-flex flex-column mt-16">
        <span class="label-body-2">
          {{ checkoutLocal.owner.address.city }} (Retirada presencial)
        </span>
      </div>
      }
    </div>

    <!-- Pagamento -->
    <div class="border-top py-5">
      <div class="d-flex justify-content-between">
        <h3>Pagamento</h3>
        <span class="label-button" (click)="onChangePayment()">Alterar</span>
      </div>

      <div class="d-flex gap-4 mt-16">
        @if (checkoutLocal?.paymentOption === paymentOptions.PIX) {
        <tk-payment-icon [paymentBrand]="'pix'" />
        <span class="label-body-2">PIX</span>
        } @else if (card) {
        <tk-payment-icon
          [paymentBrand]="card.brand"
          [showDefaultCardIcon]="true"
        />
        <span class="label-body-2 text-capitalize">
          {{ card.brand ?? "Cartão de crédito " }} ****
          {{ card.lastDigits }} ({{ checkoutLocal.selectedInstallments }}x)
        </span>
        }
      </div>
    </div>

    <!-- Total -->
    <app-checkout-total />
  </div>
</div>

<div class="checkout-footer mt-40">
  <button mat-raised-button color="primary" (click)="onBuy()">
    Confirmar compra
  </button>
</div>
}
