<ion-header>
  <ion-toolbar mode="ios">
    <app-back-button defaultHref="/main/profile"></app-back-button>
    <ion-title>Armário</ion-title>
    <ion-buttons slot="primary">
      @if (userIsOwner) {
      <button mat-icon-button (click)="editWardrobe()">
        <ion-icon name="create-outline" class="color-icon"> </ion-icon>
      </button>
      } @if (owner?.nickname) {
      <button mat-icon-button (click)="shareWardrobe()">
        <ion-icon name="share-social" class="color-icon"> </ion-icon>
      </button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-refresher slot="fixed" color="primary" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="px-24 pt-24 pb-12">
    @if (owner) {
    <div class="border-bottom pb-24">
      <tk-seller-header [user]="owner" size="sm">
        @if (owner && reviews) {
        <div class="mt-8 flex items-center justify-between">
          <tk-review-stars
            [stars]="owner.reviewsAverage"
            [amount]="reviews.length"
            [showAmount]="true"
            [clickable]="reviews.length > 0"
            (clicked)="openReviews()"
          ></tk-review-stars>

          @if (owner.storeVisibility === storeVisibility.PAUSED) {
          <tk-status-pill
            class="ml-16"
            variant="accent"
            [outline]="true"
            label="Vendas pausadas"
          />
          }
        </div>
        }
      </tk-seller-header>
    </div>
    }

    <!-- search container -->
    <div class="mt-16">
      @if (showSearchbar) {
      <ion-searchbar
        placeholder="Buscar no armário"
        debounce="0"
        showClearButton="always"
        [(ngModel)]="searchText"
        maxlength="100"
        mode="md"
        enterkeyhint="search"
        (keypress)="enter($event)"
        (ionClear)="clearSearch()"
        (ionBlur)="blurSearch()"
      ></ion-searchbar>
      }
    </div>
  </div>

  <div class="flex justify-between items-center pr-24 pb-16">
    <div>
      <app-filter-tags
        [filters]="filter"
        [statusFilter]="statusFilter"
        [enableSorting]="false"
        [enableStatusFilter]="userIsOwner"
        (filtersChanged)="applyFilters($event)"
      ></app-filter-tags>
    </div>
    <div class="flex items-center">
      @if (!showSearchbar) {
      <button
        mat-icon-button
        (click)="startSearch()"
        class="clear-button"
        color="primary"
      >
        <ion-icon name="search"></ion-icon>
      </button>
      }
    </div>
  </div>

  @if (showRenewAll && filter.status === 4 && !showSearchbar) {
  <div class="px-24 pb-16">
    <button
      mat-stroked-button
      color="primary"
      (click)="renewAll()"
      class="action-button"
    >
      Renovar todos
    </button>
  </div>
  } @if (isLoading || !items?.length) {
  <div class="px-24 pt-24 pb-12">
    @if (isLoading) {
    <div class="flex justify-center items-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    } @if (!isLoading && !items?.length) {
    <div class="empty-page">
      <ion-icon name="sad-outline"></ion-icon>
      <span>
        {{ !filter ? 'Armário vazio' : 'Nenhum produto encontrado'}}
      </span>
    </div>
    }
  </div>
  } @if (!isLoading) {
  <ion-list
    class="vertical"
    [ngStyle]="{'display': isLoading ? 'none' : 'block'}"
  >
    <div class="wardrobe-grid">
      @for (p of items; track p._id) {
      <div>
        <tk-product-card
          [useLink]="false"
          [product]="p"
          [canFavorite]="!userIsOwner"
          (open)="open(p)"
        >
        </tk-product-card>
      </div>
      }
    </div>
  </ion-list>
  }

  <ion-infinite-scroll
    style="margin-bottom: 25vw"
    [disabled]="!items || !items.length || endOfSearch"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
