<div class="store-options">
  <h3 class="color-gray-dark mb-48">Perfil da loja</h3>

  <tk-seller-profile
    class="block"
    [user]="user"
    [previewAvatarUrl]="previewAvatarUrl"
    [pictureUpdating]="pictureUpdating"
    [avatarPresent]="willHaveAvatar"
    [sellerReviews]="sellerReviews"
    (submitted)="save($event)"
  >
    <tk-image-picker
      avatarPicker
      mode="button"
      [disabled]="pictureUpdating"
      externalURL="{{
        user?.avatar && user.avatar !== '' ? getUserAvatar() : ''
      }}"
      [profile]="true"
      (imagePick)="onImagePicked($event)"
    >
    </tk-image-picker>
  </tk-seller-profile>
</div>
