<ion-header>
  <ion-toolbar style="box-shadow: none !important">
    <app-back-button
      [nav]="true"
      (buttonClick)="clickBack()"
      defaultHref="/main/auth"
    ></app-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="p-24">
    <h6 class="mt-40 color-gray-dark">Enviamos um código para</h6>
    <h6 class="color-gray-dark mt-8"><b>{{ email }}</b></h6>

    <tk-recovery-code-form
      class="mt-40 d-block"
      [autoSubmit]="true"
      (submitted)="verify($event)"
    ></tk-recovery-code-form>
  </ion-grid>
</ion-content>
