<ion-header>
  <ion-toolbar mode="ios">
    <app-back-button
      [nav]="buyingChangeAddress"
      [blockNavigation]="completingInformation"
      (buttonClick)="back()"
      defaultHref="/main/profile"
    ></app-back-button>
    <ion-title>
      {{ completingInformation ? 'Insira seu endereço' : 'Endereço' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (!user) {
  <div class="w-full flex justify-center mt-56">
    <ion-spinner></ion-spinner>
  </div>
  }

  @if (user) {
  <div>
    <form [formGroup]="addressForm" (ngSubmit)="save()">
      <ion-grid class="p-24">
        <ion-row>
          <ion-col class="ion-no-padding item-input" size-sm="6" offset-sm="3">
            <ion-item class="ion-no-padding">
              <ion-input
                label="CEP"
                labelPlacement="floating"
                [appMask]="'00000-000'"
                formControlName="zipCode"
                (ionInput)="zipChange()"
                maxlength="9"
                type="text"
                inputmode="numeric"
              >
              </ion-input>
            </ion-item>

            @if (viaCepError) {
            <label class="label-caption-1 red-danger">
              CEP não encontrado
            </label>
            }
          </ion-col>
        </ion-row>

        <ion-row class="mt-8">
          <ion-col class="ion-no-padding item-input" size="12">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Endereço"
                labelPlacement="floating"
                formControlName="street"
                maxlength="256"
                type="text"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="mt-8">
          <ion-col class="ion-no-padding item-input" size="3">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Número"
                labelPlacement="floating"
                formControlName="number"
                maxlength="6"
                type="text"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col class="ion-no-padding item-input" size="8" offset="1">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Complemento"
                labelPlacement="floating"
                formControlName="complement"
                maxlength="256"
                type="text"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="mt-8">
          <ion-col class="ion-no-padding item-input" size="12">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Bairro"
                labelPlacement="floating"
                formControlName="neighborhood"
                maxlength="256"
                type="text"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="mt-8">
          <ion-col class="ion-no-padding item-input" size="5">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Estado"
                labelPlacement="floating"
                [disabled]="true"
                formControlName="state"
                maxlength="256"
                type="text"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col class="ion-no-padding item-input" size="6" offset="1">
            <ion-item class="ion-no-padding">
              <ion-input
                label="Cidade"
                labelPlacement="floating"
                [disabled]="true"
                formControlName="city"
                maxlength="256"
                type="text"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <div class="mt-56">
          <ion-row class="flex justify-center">
            <ion-button
              [disabled]="!saveEnabled()"
              type="submit"
              color="primary"
              shape="round"
              class="action-button w-full"
            >
              {{ getStringButton() }}
            </ion-button>
          </ion-row>

          @if (buyingChangeAddress && zipShipping) {
          <ion-row
            class="flex justify-center mt-16"
          >
            <ion-button
              (click)="useRegisteredAddress()"
              type="submit"
              color="primary"
              fill="outline"
              shape="round"
              class="action-button w-full"
            >
              Usar endereço cadastrado
            </ion-button>
          </ion-row>
          }
        </div>
      </ion-grid>
    </form>
  </div>
  }
</ion-content>
