<h3 class="color-gray-dark">Minhas vendas</h3>

<div class="mt-48">
  @for (s of sales; track s) {
    <div class="grid-row border-bottom mt-32 pb-48">
      <div class="gcol-12 gcol-md-8">
        @for (c of s.clothes; track c) {
          <div>
            <app-cart-item [product]="c" [showRemove]="false"></app-cart-item>
          </div>
        }
      </div>
      <div class="gcol-12 gcol-md-4 flex flex-col">
        <div class="flex text-right flex-col">
          <span class="item-value">
            {{ s.createdAt | date : "dd/MM/yy" }}
          </span>
          <span class="item-value color-gray-dark">
            {{ s.sellerProfit | cost | currency : "BRL" : "symbol" : "1.2" }}
          </span>
          <h6 class="color-gray-dark">{{ s.status }}</h6>
        </div>
        <button
          class="mt-16"
          mat-stroked-button
          color="primary"
          routerLink="{{ s._id }}"
          >
          Detalhes
        </button>
        <span class="order-id">cód. {{ s.customId }}</span>
      </div>
    </div>
  }

  @if (!sales || !sales.length) {
    <div class="empty-page full">
      <ion-icon name="sad-outline"></ion-icon>
      <span class="label-body-2 block"> Nenhuma venda</span>
    </div>
  }
</div>
