<div class="account-menu">
  <div class="hidden block-md fill-height">
    <h3>Minha conta</h3>

    <div class="side-menu py-48">
      @for (i of accountTabs; track i) {
        <a routerLinkActive="active-link" routerLink="{{ i.route }}" mat-menu-item>
          <ion-icon name="{{ i.icon }}"></ion-icon>
          <span>{{ i.text }}</span>
        </a>
      }
    </div>

    @if (showSellerOptions) {
      <div class="flex items-center gap-8 mt-48">
        <h3>Minha loja</h3>
        <tk-seller-status-badge
          [user]="user"
          [isLoggedUser]="true"
          (badgeClick)="goToSellerStatus()"
        />
      </div>

      <div class="side-menu py-48">
        @for (i of sellerTabs; track i) {
          <a routerLinkActive="active-link" routerLink="{{ i.route }}" mat-menu-item>
            <ion-icon name="{{ i.icon }}"></ion-icon>
            <span>{{ i.text }}</span>
          </a>
        }
      </div>
    }
  </div>
</div>
