<div class="container fill-height">
  <div class="flex items-end">
    <h2 class="color-gray-dark">
      {{ justAdded ? 'Adicionado à sacola' : 'Minhas sacolas' }}
    </h2>
  </div>

  @if (baskets && baskets.length) {
    <div class="mt-48 frete-unico">
      <h4 class="color-primary">Frete único!</h4>
      <span class="label-body-2 color-gray-default mt-8">
        Compre mais produtos de um mesmo brechó e pague apenas um frete.
      </span>
    </div>
  }
  @if (baskets && !baskets.length) {
    @if (baskets && !baskets.length) {
      <div class="empty-page full">
        <ion-icon name="sad-outline"></ion-icon>
        <span class="label-body-2 block"> Nenhuma sacolinha</span>
        <button routerLink="/search" mat-flat-button color="primary">
          Ver produtos
        </button>
      </div>
    }
  } @else {
    @for (basket of baskets; track basket) {
      <div class="mt-24 basket-card">
        <div>
          <!-- Loja -->
          <div class="flex items-center cursor-pointer">
            <div
              (click)="openOwner(basket.owner)"
              class="flex justify-center items-center"
            >
              <tk-user-avatar
                [user]="basket.owner"
                size="medium"
              ></tk-user-avatar>
            </div>
            <div
              (click)="openOwner(basket.owner)"
              class="flex ml-0 ml-md-8 flex-col items-start justify-center px-md-0"
            >
              <div class="flex items-center">
                <h4 class="color-gray-dark capitalize">
                  {{ basket.owner.seller?.storeName ?? basket.owner.name }}
                </h4>
              </div>
              <div class="mt-24">
                <tk-review-stars
                  [showAmount]="false"
                  [stars]="basket.owner.seller?.health?.reviewsAverage ?? 0"
                  [amount]="basket.owner.seller?.health?.reviewsAmount"
                  [clickable]="!!basket.owner.seller?.health?.reviewsAmount"
                  (clicked)="openReviews(basket.owner)"
                ></tk-review-stars>
              </div>
            </div>
          </div>
          @for (p of basket.products; track p) {
            <div class="cart-item mt-24">
              <a routerLink="{{ mountProductLink(p) }}">
                <img
                  alt="{{ p.title }}"
                  hideLoading
                  lazyLoad="{{
                    p.images?.[0]?.sm ??
                      url + basket.owner._id + '/' + p.smallPicture?.url
                  }}"
                  class="cart-item-img"
                />
              </a>
              <a routerLink="{{ mountProductLink(p) }}">
                <div class="cart-item-text">
                  <span class="label-body-2 color-gray-dark capitalize"
                    ><b>{{ p.title }}</b>
                  </span>
                  <span class="label-body-2 mt-8">
                    {{
                      p.cost * 0.95 | cost | currency: 'BRL' : 'symbol' : '1.2'
                    }}
                  </span>
                </div>
              </a>
              @if (!basket.reserved) {
                <button
                  mat-icon-button
                  class="color-gray-light-1 button-remove"
                  (click)="removeProduct(p, $event)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </div>
          }
          <!-- <app-reserve-time text="Continuar" color="primary" (open)="restore(cart)" [ownerId]="basket.owner"></app-reserve-time> -->
        </div>
        <div class="mt-48 mt-md-0 flex flex-col justify-end">
          <div class="flex justify-between">
            <span class="label-body-2"> Total</span>
            <span class="label-body-2 color-gray-dark">
              <b>
                {{
                  basket.total() * 0.95
                    | cost
                    | currency: 'BRL' : 'symbol' : '1.2'
                }}</b
              >
            </span>
          </div>
          @if (!basket.reserved) {
            <div>
              <button
                class="mt-16 w-full"
                mat-stroked-button
                color="primary"
                routerLink="/users/{{ basket.owner.seller?.nickname }}"
              >
                <b>Adicionar mais produtos</b>
              </button>
              <button
                mat-flat-button
                class="mt-8 w-full"
                color="primary"
                (click)="checkout(basket.owner._id)"
              >
                Ir para pagamento
              </button>
            </div>
          }
          @if (basket.reserved) {
            <div>
              <app-reserve-time
                [ownerId]="basket.owner._id"
                (open)="checkout(basket.owner._id)"
                text="Continuar compra"
              ></app-reserve-time>
            </div>
          }
        </div>
      </div>
    }
  }

  <!-- Suggestions only after adding new item to baskets (comming from product cta) -->

  @if (suggestionHeader && suggestions && suggestions.length) {
    <app-products-horizontal-list
      title="{{ suggestionHeader }}"
      [products]="suggestions"
      [seeMore]="suggestionLink && suggestions && suggestions.length > 0"
      navText="Ver tudo"
      [navMore]="suggestionLink"
      [colsDesk]="6"
      [borderBottom]="false"
    >
    </app-products-horizontal-list>
  }
</div>
