@if (!notifications || notifications.length === 0) {
  <div class="empty-page full">
    @if (true) {
      <ion-icon name="sad-outline"></ion-icon>
    }
    <span class="label-body-2 block"> Nenhuma notificação</span>
  </div>
} @else {

  <!--  -->
  @for( n of notifications; track n) {
    <div
      class="flex border-bottom py-48 px-24 cursor-pointer items-center"
      (click)="n.action()"
      >
      <div style="width: 32px">
        @if (true) {
          <ion-icon class="color-primary" name="{{ n.icon }}"></ion-icon>
        }
      </div>
      <span
        class="label-body-2 ml-24"
        [ngClass]="{ 'fw-bold': !n.read }"
        [innerHtml]="n.text + n.date"
      ></span>
    </div>
    } }
