<div class="container fill-height">
  <div>
    <p class="c9"><span class="c5"></span></p>
  </div>
  <p class="c8 title" id="h.szun4ljs0ac8">
    <span class="c13">POL&Iacute;TICA DE PRIVACIDADE</span>
  </p>
  <p class="c0"><span class="c6 c7"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0 start" start="1">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.6p891hkxnsys" style="display: inline">
        <span class="c2"
          ><b></b>DA POL&Iacute;TICA DE PRIVACIDADE E COLETA DE DADOS</span
        >
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >A pol&iacute;tica de privacidade aqui regulamentada ter&aacute;
      aplica&ccedil;&atilde;o para todos os usu&aacute;rios, ou seja, aqueles
      maiores de 18 (dezoito) anos e que tenham capacidade plena nos termos
      legais. A mesma pol&iacute;tica estar&aacute; sujeita ao que est&aacute;
      regulamentado na Lei Geral de Prote&ccedil;&atilde;o de Dados Pessoais
      (Lei 13.709/2018) ou outros dispositivos legais que venham a ser expedidos
      de forma complementar. Os usu&aacute;rios devem estar cadastrados no site
      ou no aplicativo do TROKA&Iacute;. Aplica-se a mesma pol&iacute;tica de
      privacidade aos usu&aacute;rios que acessarem como visitantes o aplicativo
      ou o site.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O APLICATIVO E SITE TROKA&Iacute; (&ldquo;APLICATIVO E SITE&rdquo;), em
      raz&atilde;o da natureza de seus servi&ccedil;os, recebe dados e
      informa&ccedil;&otilde;es relativamente aos seus usu&aacute;rios.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Com a finalidade de estabelecer uma Pol&iacute;tica de Privacidade, este
      instrumento ir&aacute; regular e informar sobre a coleta de dados dos
      usu&aacute;rios, com o objetivo de assegurar a estes a necess&aacute;ria
      transpar&ecirc;ncia no que tange &agrave;s informa&ccedil;&otilde;es
      disponibilizadas.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O APLICATIVO E SITE, atrav&eacute;s da presente Pol&iacute;tica de
      Privacidade, reconhece que a privacidade da informa&ccedil;&atilde;o dos
      usu&aacute;rios &eacute; relevante, raz&atilde;o pela qual tomar&aacute;
      sempre cautelas para dar sigilo a todas as informa&ccedil;&otilde;es, com
      a utiliza&ccedil;&atilde;o de procedimentos de seguran&ccedil;a eficientes
      e tecnologicamente seguros.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Ao aceitar o Termo e Condi&ccedil;&otilde;es de Uso do APLICATIVO E SITE,
      por ocasi&atilde;o do cadastro, os usu&aacute;rios estar&atilde;o
      automaticamente aceitando a presente Pol&iacute;tica de Privacidade, nos
      termos da legisla&ccedil;&atilde;o aplic&aacute;vel, notadamente na Lei
      Geral de Prote&ccedil;&atilde;o de Dados.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Ao se cadastrar, os usu&aacute;rios estar&atilde;o tamb&eacute;m
      consentindo quanto &agrave; utiliza&ccedil;&atilde;o de seus dados e
      informa&ccedil;&otilde;es pessoais, nos termos adiante expostos.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >As comunica&ccedil;&otilde;es realizadas por meio do chat do
      Troka&iacute; n&atilde;o t&ecirc;m car&aacute;ter privado, e as mensagens
      s&atilde;o armazenadas nos servidores do Troka&iacute;. O Troka&iacute;
      pode utilizar ferramentas tecnol&oacute;gicas automatizadas de
      an&aacute;lise do chat para diversas finalidades.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Dentre essas finalidades, as ferramentas podem ser utilizadas para
      identificar, entre as mensagens trocadas pelos usu&aacute;rios no chat,
      eventuais informa&ccedil;&otilde;es que possam violar ou trazer suspeitas
      de viola&ccedil;&atilde;o aos Termos de Uso do Troka&iacute; ou &agrave;
      legisla&ccedil;&atilde;o vigente.</span
    >
  </p>
  <p class="c3">
    <span class="c1"
      >O acesso humano &agrave;s mensagens est&aacute; restrito &agrave;s
      hip&oacute;teses estritamente necess&aacute;rias para oferecer a
      funcionalidade e melhorar a experi&ecirc;ncia do usu&aacute;rio da
      plataforma e sempre de acordo com os Termos de Uso aplic&aacute;veis e a
      legisla&ccedil;&atilde;o vigente.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O Troka&iacute; poder&aacute; fornecer c&oacute;pia das mensagens
      &agrave;s autoridades competentes, independentemente de
      comunica&ccedil;&atilde;o aos Usu&aacute;rios, para fins de
      coopera&ccedil;&atilde;o em investiga&ccedil;&otilde;es,
      inqu&eacute;ritos, processos judiciais ou administrativos.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Qualquer informa&ccedil;&atilde;o que os Usu&aacute;rios disponibilizarem
      em perfis publicamente dispon&iacute;veis ou no chat &eacute; de sua
      pr&oacute;pria responsabilidade.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O APLICATIVO E SITE ter&atilde;o o direito de alterar esta
      Pol&iacute;tica de Privacidade a qualquer momento, avisando, nesse caso,
      aos usu&aacute;rios que, permanecendo no APLICATIVO E SITE, concordaram
      com as modifica&ccedil;&otilde;es realizadas.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="2">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.8e04cqqmoblc" style="display: inline">
        <span class="c2"
          >DO CADASTRO E DAS INFORMA&Ccedil;&Otilde;ES NECESS&Aacute;RIAS</span
        >
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Para fins de cadastro, o registro e as informa&ccedil;&otilde;es pessoais
      dos usu&aacute;rios, os quais ser&atilde;o armazenados,
      constituir&atilde;o a primeira etapa necess&aacute;ria &agrave;
      utiliza&ccedil;&atilde;o dos servi&ccedil;os do APLICATIVO E SITE.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Para acessar os servi&ccedil;os, o usu&aacute;rio dever&aacute; realizar
      o seu cadastro pessoal, fornecendo o seu nome completo, g&ecirc;nero, data
      de nascimento, telefone fixo, celular, CPF, e-mail, senha,
      endere&ccedil;o, dados de geolocaliza&ccedil;&atilde;o do dispositivo caso
      autorize a coleta a partir do seu dispositivo, dados banc&aacute;rios e
      para cobran&ccedil;a, como aqueles relacionados ao cart&atilde;o de
      cr&eacute;dito.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Os usu&aacute;rios dever&atilde;o utilizar uma SENHA pessoal para acesso
      aos servi&ccedil;os do APLICATIVO E SITE, a qual ser&aacute; escolhida
      pelo pr&oacute;prio usu&aacute;rio e mantida em sigilo, sem
      compartilhamento com terceiros, respondendo, nesse caso, o usu&aacute;rio,
      pela m&aacute; utiliza&ccedil;&atilde;o da senha. Recomenda-se que os
      usu&aacute;rios utilizem um APELIDO que os identifique. Atrav&eacute;s do
      cadastramento, o usu&aacute;rio aceitar&aacute; os Termos de Uso e
      concordar&aacute; com a Pol&iacute;tica de Privacidade concernente
      &agrave; utiliza&ccedil;&atilde;o de suas informa&ccedil;&otilde;es.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Ao cadastrar-se no APLICATIVO E SITE, o usu&aacute;rio autorizar&aacute;
      a confirma&ccedil;&atilde;o de seus dados pessoais, a consulta a bancos de
      dados, &oacute;rg&atilde;os p&uacute;blicos e empresas especializadas, com
      o compromisso do APLICATIVO E SITE de que aludidas
      informa&ccedil;&otilde;es ser&atilde;o tratadas de forma sigilosa e
      confidencial.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Ser&aacute; sempre facultado ao usu&aacute;rio o cancelamento de seu
      cadastro, com a supress&atilde;o de seus dados pessoais da base do
      APLICATIVO E SITE.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Os usu&aacute;rios somente ter&atilde;o acesso aos dados de outros
      usu&aacute;rios no caso de negocia&ccedil;&atilde;o entre eles.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="3">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.b397orqdf8b4" style="display: inline">
        <span class="c2">DO RESPEITO &Agrave; CONFIDENCIALIDADE</span>
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O APLICATIVO E SITE n&atilde;o efetuaram o compartilhamento de dados
      pessoais fora das condi&ccedil;&otilde;es estabelecidas nesta
      Pol&iacute;tica de Privacidade, exceto em raz&atilde;o de ordem judicial
      ou administrativa de autoridades competentes, inclusive para o fim de
      solu&ccedil;&atilde;o de eventuais lit&iacute;gios ou conflitos de
      interesse.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="4">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.mls5ton7gym3" style="display: inline">
        <span class="c2"
          >FINALIDADE DAS INFORMA&Ccedil;&Otilde;ES E SEU USO PELO APLICATIVO E
          SITE</span
        >
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Os dados pessoais ser&atilde;o utilizados pelo TROKA&Iacute; com as
      finalidades a seguir enumeradas:</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >1. Intermediar atrav&eacute;s do aplicativo ou do site a compra e venda,
      ou a troca de roupas e artigos de moda;</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >2. Possibilitar aos usu&aacute;rios o contato entre eles visando as
      negocia&ccedil;&otilde;es de compra, venda e troca, bem como no caso de
      devolu&ccedil;&atilde;o ou de eventuais ocorr&ecirc;ncias que fogem do
      fluxo natural do aplicativo;</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >3. Possibilitar o contato do TROKA&Iacute; com o usu&aacute;rio com a
      finalidade de confirmar ou efetuar o cancelamento dos pedidos levados a
      efeito, inclusive para sanar d&uacute;vidas;</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >4. Ratificar os dados dos usu&aacute;rios informados no cadastro;</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >5. Possibilitar o encaminhamento de notifica&ccedil;&otilde;es/push dos
      servi&ccedil;os do TROKA&Iacute; e dar suporte em rela&ccedil;&atilde;o a
      problemas t&eacute;cnicos.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >As informa&ccedil;&otilde;es repassadas ao APLICATIVO E SITE visam o
      estabelecimento de intera&ccedil;&atilde;o entre os usu&aacute;rios, a fim
      de que mantenham contato direto com vistas aos esclarecimentos sobre os
      produtos e eventuais solu&ccedil;&otilde;es de pend&ecirc;ncias.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >As informa&ccedil;&otilde;es tamb&eacute;m t&ecirc;m o escopo de apurar,
      atrav&eacute;s de estudos, as necessidades e interesses de cada
      usu&aacute;rio, a fim de fornecer-lhes informa&ccedil;&otilde;es
      relacionadas aos mencionados interesses e necessidades. Dentro desse
      contexto, as informa&ccedil;&otilde;es servir&atilde;o como insumos para
      a&ccedil;&otilde;es de marketing, com o detalhamento de
      informa&ccedil;&otilde;es de mercado e estat&iacute;sticas.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >As informa&ccedil;&otilde;es tamb&eacute;m poder&atilde;o ser utilizadas
      para o efeito do compartilhamento de dados com provedores que possam
      auxiliar e facilitar as opera&ccedil;&otilde;es do APLICATIVO E SITE, tais
      como as relacionadas com seguros, transporte, dentre outros. Nesse caso, o
      APLICATIVO E SITE n&atilde;o ter&atilde;o responsabilidade quanto ao uso
      indevido das informa&ccedil;&otilde;es pessoais dos usu&aacute;rios por
      terceiros. Entretanto, manter&atilde;o com esses terceiros, com quem
      compartilhar&atilde;o os dados, uma pol&iacute;tica, atrav&eacute;s da
      celebra&ccedil;&atilde;o de instrumentos, que visa garantir ao
      m&aacute;ximo um padr&atilde;o ideal de privacidade.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="5">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.g87v7m3tety7" style="display: inline">
        <span class="c2">DADOS PESSOAIS COMPARTILHADOS</span>
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Uma vez aceitos os presentes termos de privacidade, com a
      utiliza&ccedil;&atilde;o do aplicativo e site, na forma aqui regulada,
      fica facultado ao TROKA&Iacute; o compartilhamento dos dados dos
      usu&aacute;rios com parceiros, fornecedores,
      autoridades/&oacute;rg&atilde;os competentes e com os pr&oacute;prios
      usu&aacute;rios, tudo atrelado &agrave; finalidade prec&iacute;pua dos
      neg&oacute;cios objeto do TROKA&Iacute;. Da mesma forma, os
      usu&aacute;rios autorizam, com a aceita&ccedil;&atilde;o dos presentes
      termos de privacidade, ao utilizar o aplicativo e site, o redirecionamento
      para sites de terceiros ou aplicativos outros. Nesse caso, n&atilde;o
      haver&aacute; responsabilidade do TROKA&Iacute; em rela&ccedil;&atilde;o
      &agrave;s pol&iacute;ticas de privacidade ou dos termos de uso desses
      terceiros/aplicativos, os quais passar&atilde;o a estar vinculados aos
      usu&aacute;rios redirecionados.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="6">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.4m2nxjgf5b3b" style="display: inline">
        <span class="c2">MEDIDAS DE SEGURAN&Ccedil;A</span>
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O APLICATIVO E SITE adotar&atilde;o todas as medidas de seguran&ccedil;a
      ao seu alcance e poss&iacute;veis, dos dados pessoais, protegendo-os de
      acessos e divulga&ccedil;&otilde;es n&atilde;o autorizadas. N&atilde;o
      responder&atilde;o, entretanto, por invas&otilde;es ilegais que fujam ao
      seu controle e que possam afetar a base de dados do sistema.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="7">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.z6i9ntm4dbq8" style="display: inline">
        <span class="c2"
          >DADOS PESSOAIS &ndash; ALTERA&Ccedil;&Atilde;O, SUPRESS&Atilde;O E
          RETEN&Ccedil;&Atilde;O</span
        >
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >Ser&aacute; de responsabilidade do usu&aacute;rio promover a
      atualiza&ccedil;&atilde;o de seus dados pessoais, como endere&ccedil;o de
      e-mail, senha e telefone, bem como cancel&aacute;-los, se assim desejar.
      Entretanto, responder&aacute; sempre pela autenticidade e veracidade
      quanto aos dados informados.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >No caso de cancelamento da conta do usu&aacute;rio, o TROKA&Iacute;, com
      a finalidade de atender &agrave; legisla&ccedil;&atilde;o vigente, para
      fins de preservar o eventual exerc&iacute;cio de direitos e de auditoria,
      armazenar&aacute; em seus bancos de dados os dados pessoais informados por
      um per&iacute;odo adicional, com a reten&ccedil;&atilde;o exclusivamente
      para finalidades leg&iacute;timas e respaldadas no ordenamento
      jur&iacute;dico vigente.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="8">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.g5lvussd1stp" style="display: inline">
        <span class="c2">MONITORAMENTO DE ATIVIDADES</span>
      </h1>
    </li>
  </ol>
  <p class="c9"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O TROKA&Iacute;, durante a utiliza&ccedil;&atilde;o do site ou aplicativo
      pelos usu&aacute;rios, poder&aacute; monitorar as atividades alusivas ao
      respectivo acesso, atrav&eacute;s do uso de tecnologias pr&oacute;prias ou
      de terceiros. Uma vez utilizado o aplicativo ou o site pelos
      usu&aacute;rios, fica facultado ao TROKA&Iacute; o registro em logs, o
      qual contemplar&aacute; a&ccedil;&otilde;es realizadas no site ou no
      aplicativo, a data e a hora de tais a&ccedil;&otilde;es, e
      informa&ccedil;&otilde;es relacionadas ao dispositivo utilizado.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O Troka&iacute; utiliza cookies e e-mails com o objetivo de potencializar
      a experi&ecirc;ncia do usu&aacute;rio. Os dados coletados podem ser
      utilizados para disparos de e-mail marketing pela RD Station, push
      notifications atrav&eacute;s do Google, bem como para atividades de
      remarketing, retargeting e rede de display realizadas por plataformas como
      Google, Facebook, Instagram, Pinterest ou TikTok. Caso o usu&aacute;rio
      n&atilde;o deseje mais que seus cookies ou e-mails sejam utilizados para
      essas finalidades, basta entrar em contato conosco atrav&eacute;s do
      e-mail contato&#64;trokai.com, e realizaremos a exclus&atilde;o
      imediata.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="9">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.cez3dfvgqvjq" style="display: inline">
        <span class="c2">PROTE&Ccedil;&Atilde;O DO NOME</span>
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c1"
      >O nome TROKA&Iacute; &eacute; de uso exclusivo da Troka&iacute;
      Tecnologia Ltda. e n&atilde;o poder&aacute; ser utilizado ou reproduzido
      sem autoriza&ccedil;&atilde;o. No dom&iacute;nio www.trokai.com e
      subdom&iacute;nios, os conte&uacute;dos do aplicativo e do site
      est&atilde;o sob o manto das leis e regulamentos de propriedade
      intelectual.</span
    >
  </p>
  <p class="c0"><span class="c1"></span></p>
  <ol class="c4 lst-kix_e3ma1zkk1sn3-0" start="10">
    <li class="c8 c10 li-bullet-0">
      <h1 id="h.t4ydit3d5vyi" style="display: inline">
        <span class="c2">COMUNICA&Ccedil;&Atilde;O</span>
      </h1>
    </li>
  </ol>
  <p class="c0"><span class="c1"></span></p>
  <p class="c3">
    <span class="c6"
      >As eventuais d&uacute;vidas dos usu&aacute;rios, bem como
      sugest&otilde;es, podem ser encaminhadas para o
      contato&#64;trokai.com.</span
    >
  </p>
  <div>
    <p class="c12"><span class="c5"></span></p>
  </div>
</div>
