ol.lst-kix_e3ma1zkk1sn3-3.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-3 0;
}
.lst-kix_niclozi6jvx1-0 > li:before {
  content: "  ";
}
.lst-kix_niclozi6jvx1-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_e3ma1zkk1sn3-2 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-2;
}
ol.lst-kix_e3ma1zkk1sn3-2 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-1 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-4 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-3 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-0 {
  list-style-type: none;
}
ul.lst-kix_3j7chvpyx0xu-0 {
  list-style-type: none;
}
ul.lst-kix_3j7chvpyx0xu-1 {
  list-style-type: none;
}
ul.lst-kix_3j7chvpyx0xu-6 {
  list-style-type: none;
}
.lst-kix_imtvufu01k34-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_3j7chvpyx0xu-7 {
  list-style-type: none;
}
ul.lst-kix_3j7chvpyx0xu-8 {
  list-style-type: none;
}
.lst-kix_imtvufu01k34-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_3j7chvpyx0xu-2 {
  list-style-type: none;
}
.lst-kix_imtvufu01k34-0 > li:before {
  content: "  ";
}
ul.lst-kix_3j7chvpyx0xu-3 {
  list-style-type: none;
}
ul.lst-kix_3j7chvpyx0xu-4 {
  list-style-type: none;
}
ul.lst-kix_3j7chvpyx0xu-5 {
  list-style-type: none;
}
.lst-kix_e3ma1zkk1sn3-0 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-0;
}
ol.lst-kix_e3ma1zkk1sn3-6 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-5 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-8 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-7 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-8.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-8 0;
}
.lst-kix_vxddgage4b26-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_vxddgage4b26-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_vxddgage4b26-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_vxddgage4b26-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_vxddgage4b26-0 {
  list-style-type: none;
}
.lst-kix_vxddgage4b26-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_vxddgage4b26-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_e3ma1zkk1sn3-6 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-6;
}
ul.lst-kix_vxddgage4b26-3 {
  list-style-type: none;
}
.lst-kix_vxddgage4b26-0 > li:before {
  content: "  ";
}
ul.lst-kix_vxddgage4b26-4 {
  list-style-type: none;
}
.lst-kix_vxddgage4b26-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_vxddgage4b26-1 {
  list-style-type: none;
}
ul.lst-kix_vxddgage4b26-2 {
  list-style-type: none;
}
ul.lst-kix_vxddgage4b26-7 {
  list-style-type: none;
}
ul.lst-kix_vxddgage4b26-8 {
  list-style-type: none;
}
.lst-kix_imtvufu01k34-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_vxddgage4b26-5 {
  list-style-type: none;
}
ul.lst-kix_obqtkh4kkgbt-0 {
  list-style-type: none;
}
ul.lst-kix_vxddgage4b26-6 {
  list-style-type: none;
}
.lst-kix_imtvufu01k34-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_imtvufu01k34-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_obqtkh4kkgbt-6 {
  list-style-type: none;
}
ul.lst-kix_obqtkh4kkgbt-5 {
  list-style-type: none;
}
.lst-kix_imtvufu01k34-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_imtvufu01k34-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_obqtkh4kkgbt-8 {
  list-style-type: none;
}
ul.lst-kix_obqtkh4kkgbt-7 {
  list-style-type: none;
}
ul.lst-kix_obqtkh4kkgbt-2 {
  list-style-type: none;
}
ul.lst-kix_obqtkh4kkgbt-1 {
  list-style-type: none;
}
ul.lst-kix_obqtkh4kkgbt-4 {
  list-style-type: none;
}
ul.lst-kix_obqtkh4kkgbt-3 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-2.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-2 0;
}
.lst-kix_imtvufu01k34-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_vyf5dsgp0qjn-8 {
  list-style-type: none;
}
.lst-kix_niclozi6jvx1-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_vyf5dsgp0qjn-6 {
  list-style-type: none;
}
.lst-kix_niclozi6jvx1-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_vyf5dsgp0qjn-7 {
  list-style-type: none;
}
ul.lst-kix_vyf5dsgp0qjn-4 {
  list-style-type: none;
}
ul.lst-kix_vyf5dsgp0qjn-5 {
  list-style-type: none;
}
ul.lst-kix_vyf5dsgp0qjn-2 {
  list-style-type: none;
}
ul.lst-kix_vyf5dsgp0qjn-3 {
  list-style-type: none;
}
ul.lst-kix_vyf5dsgp0qjn-0 {
  list-style-type: none;
}
.lst-kix_niclozi6jvx1-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_vyf5dsgp0qjn-1 {
  list-style-type: none;
}
.lst-kix_niclozi6jvx1-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_niclozi6jvx1-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_niclozi6jvx1-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_niclozi6jvx1-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_vxddgage4b26-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_imtvufu01k34-1 {
  list-style-type: none;
}
ul.lst-kix_imtvufu01k34-0 {
  list-style-type: none;
}
.lst-kix_c553xbao5ffk-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_imtvufu01k34-3 {
  list-style-type: none;
}
.lst-kix_byq6c64qhjoy-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_imtvufu01k34-2 {
  list-style-type: none;
}
.lst-kix_c553xbao5ffk-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_c553xbao5ffk-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_niclozi6jvx1-1 {
  list-style-type: none;
}
ul.lst-kix_niclozi6jvx1-0 {
  list-style-type: none;
}
ul.lst-kix_niclozi6jvx1-3 {
  list-style-type: none;
}
.lst-kix_byq6c64qhjoy-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_niclozi6jvx1-2 {
  list-style-type: none;
}
ul.lst-kix_niclozi6jvx1-5 {
  list-style-type: none;
}
ul.lst-kix_niclozi6jvx1-4 {
  list-style-type: none;
}
ul.lst-kix_niclozi6jvx1-7 {
  list-style-type: none;
}
ul.lst-kix_niclozi6jvx1-6 {
  list-style-type: none;
}
ul.lst-kix_niclozi6jvx1-8 {
  list-style-type: none;
}
ul.lst-kix_imtvufu01k34-8 {
  list-style-type: none;
}
.lst-kix_byq6c64qhjoy-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_byq6c64qhjoy-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_imtvufu01k34-5 {
  list-style-type: none;
}
ul.lst-kix_imtvufu01k34-4 {
  list-style-type: none;
}
.lst-kix_c553xbao5ffk-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_imtvufu01k34-7 {
  list-style-type: none;
}
ul.lst-kix_imtvufu01k34-6 {
  list-style-type: none;
}
.lst-kix_eys3drlrma9k-0 > li:before {
  content: "  ";
}
ol.lst-kix_e3ma1zkk1sn3-1.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-1 0;
}
ul.lst-kix_eys3drlrma9k-0 {
  list-style-type: none;
}
.lst-kix_3j7chvpyx0xu-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_eys3drlrma9k-2 {
  list-style-type: none;
}
ul.lst-kix_eys3drlrma9k-1 {
  list-style-type: none;
}
.lst-kix_3j7chvpyx0xu-0 > li:before {
  content: "  ";
}
.lst-kix_3j7chvpyx0xu-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_3j7chvpyx0xu-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_obqtkh4kkgbt-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_bkk20mmqduxg-0 > li:before {
  content: "  ";
}
.lst-kix_bkk20mmqduxg-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_eys3drlrma9k-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_3j7chvpyx0xu-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_bkk20mmqduxg-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_eys3drlrma9k-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_eys3drlrma9k-8 {
  list-style-type: none;
}
ul.lst-kix_eys3drlrma9k-7 {
  list-style-type: none;
}
.lst-kix_obqtkh4kkgbt-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_bkk20mmqduxg-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_eys3drlrma9k-4 {
  list-style-type: none;
}
ul.lst-kix_eys3drlrma9k-3 {
  list-style-type: none;
}
ul.lst-kix_eys3drlrma9k-6 {
  list-style-type: none;
}
ul.lst-kix_eys3drlrma9k-5 {
  list-style-type: none;
}
.lst-kix_eys3drlrma9k-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_eys3drlrma9k-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_e3ma1zkk1sn3-4 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-4;
}
.lst-kix_e3ma1zkk1sn3-1 > li:before {
  content: "" counter(lst-ctn-kix_e3ma1zkk1sn3-1, lower-latin) ") ";
}
ol.lst-kix_e3ma1zkk1sn3-0.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-0 0;
}
.lst-kix_bkk20mmqduxg-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_e3ma1zkk1sn3-5 > li:before {
  content: "(" counter(lst-ctn-kix_e3ma1zkk1sn3-5, lower-roman) ") ";
}
.lst-kix_obqtkh4kkgbt-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_obqtkh4kkgbt-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_e3ma1zkk1sn3-3 > li:before {
  content: "(" counter(lst-ctn-kix_e3ma1zkk1sn3-3, decimal) ") ";
}
.lst-kix_e3ma1zkk1sn3-7 > li:before {
  content: "" counter(lst-ctn-kix_e3ma1zkk1sn3-7, lower-latin) ". ";
}
.lst-kix_obqtkh4kkgbt-0 > li:before {
  content: "  ";
}
.lst-kix_vyf5dsgp0qjn-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_vyf5dsgp0qjn-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_vyf5dsgp0qjn-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_vyf5dsgp0qjn-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_e3ma1zkk1sn3-3 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-3;
}
.lst-kix_vyf5dsgp0qjn-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_vyf5dsgp0qjn-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_vyf5dsgp0qjn-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_c553xbao5ffk-8 {
  list-style-type: none;
}
ul.lst-kix_c553xbao5ffk-7 {
  list-style-type: none;
}
ul.lst-kix_c553xbao5ffk-6 {
  list-style-type: none;
}
ul.lst-kix_c553xbao5ffk-5 {
  list-style-type: none;
}
ul.lst-kix_c553xbao5ffk-4 {
  list-style-type: none;
}
.lst-kix_vyf5dsgp0qjn-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_c553xbao5ffk-3 {
  list-style-type: none;
}
ul.lst-kix_c553xbao5ffk-2 {
  list-style-type: none;
}
ul.lst-kix_c553xbao5ffk-1 {
  list-style-type: none;
}
ul.lst-kix_c553xbao5ffk-0 {
  list-style-type: none;
}
.lst-kix_1isddqyjzmx-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_1isddqyjzmx-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_byq6c64qhjoy-0 {
  list-style-type: none;
}
ul.lst-kix_byq6c64qhjoy-3 {
  list-style-type: none;
}
.lst-kix_1isddqyjzmx-0 > li:before {
  content: "  ";
}
.lst-kix_1isddqyjzmx-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_byq6c64qhjoy-4 {
  list-style-type: none;
}
ul.lst-kix_byq6c64qhjoy-1 {
  list-style-type: none;
}
ul.lst-kix_byq6c64qhjoy-2 {
  list-style-type: none;
}
ul.lst-kix_byq6c64qhjoy-7 {
  list-style-type: none;
}
.lst-kix_1isddqyjzmx-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_1isddqyjzmx-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_byq6c64qhjoy-8 {
  list-style-type: none;
}
ul.lst-kix_byq6c64qhjoy-5 {
  list-style-type: none;
}
ul.lst-kix_byq6c64qhjoy-6 {
  list-style-type: none;
}
.lst-kix_1isddqyjzmx-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_e3ma1zkk1sn3-5 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-5;
}
.lst-kix_1isddqyjzmx-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_1isddqyjzmx-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_vyf5dsgp0qjn-0 > li:before {
  content: "  ";
}
.lst-kix_byq6c64qhjoy-0 > li:before {
  content: "  ";
}
.lst-kix_c553xbao5ffk-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_byq6c64qhjoy-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_e3ma1zkk1sn3-8 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-8;
}
.lst-kix_c553xbao5ffk-0 > li:before {
  content: "  ";
}
.lst-kix_c553xbao5ffk-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_byq6c64qhjoy-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_c553xbao5ffk-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_byq6c64qhjoy-4 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_e3ma1zkk1sn3-7.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-7 0;
}
.lst-kix_c553xbao5ffk-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_eys3drlrma9k-1 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_e3ma1zkk1sn3-4.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-4 0;
}
.lst-kix_byq6c64qhjoy-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_3j7chvpyx0xu-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_obqtkh4kkgbt-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_3j7chvpyx0xu-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_obqtkh4kkgbt-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_bkk20mmqduxg-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_bkk20mmqduxg-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_eys3drlrma9k-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_3j7chvpyx0xu-7 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_e3ma1zkk1sn3-5.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-5 0;
}
.lst-kix_bkk20mmqduxg-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_eys3drlrma9k-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_eys3drlrma9k-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_e3ma1zkk1sn3-7 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-7;
}
.lst-kix_e3ma1zkk1sn3-1 > li {
  counter-increment: lst-ctn-kix_e3ma1zkk1sn3-1;
}
.lst-kix_e3ma1zkk1sn3-0 > li:before {
  content: "" counter(lst-ctn-kix_e3ma1zkk1sn3-0, decimal) ") ";
}
.lst-kix_e3ma1zkk1sn3-2 > li:before {
  content: "" counter(lst-ctn-kix_e3ma1zkk1sn3-2, lower-roman) ") ";
}
.lst-kix_bkk20mmqduxg-7 > li:before {
  content: "\0025cb   ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ul.lst-kix_1isddqyjzmx-0 {
  list-style-type: none;
}
.lst-kix_e3ma1zkk1sn3-6 > li:before {
  content: "" counter(lst-ctn-kix_e3ma1zkk1sn3-6, decimal) ". ";
}
ul.lst-kix_1isddqyjzmx-2 {
  list-style-type: none;
}
ul.lst-kix_1isddqyjzmx-1 {
  list-style-type: none;
}
ul.lst-kix_bkk20mmqduxg-8 {
  list-style-type: none;
}
.lst-kix_e3ma1zkk1sn3-4 > li:before {
  content: "(" counter(lst-ctn-kix_e3ma1zkk1sn3-4, lower-latin) ") ";
}
.lst-kix_e3ma1zkk1sn3-8 > li:before {
  content: "" counter(lst-ctn-kix_e3ma1zkk1sn3-8, lower-roman) ". ";
}
.lst-kix_obqtkh4kkgbt-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_bkk20mmqduxg-4 {
  list-style-type: none;
}
ul.lst-kix_1isddqyjzmx-8 {
  list-style-type: none;
}
ul.lst-kix_bkk20mmqduxg-5 {
  list-style-type: none;
}
ul.lst-kix_1isddqyjzmx-7 {
  list-style-type: none;
}
ul.lst-kix_bkk20mmqduxg-6 {
  list-style-type: none;
}
ul.lst-kix_bkk20mmqduxg-7 {
  list-style-type: none;
}
ul.lst-kix_bkk20mmqduxg-0 {
  list-style-type: none;
}
ul.lst-kix_1isddqyjzmx-4 {
  list-style-type: none;
}
ol.lst-kix_e3ma1zkk1sn3-6.start {
  counter-reset: lst-ctn-kix_e3ma1zkk1sn3-6 0;
}
ul.lst-kix_bkk20mmqduxg-1 {
  list-style-type: none;
}
ul.lst-kix_1isddqyjzmx-3 {
  list-style-type: none;
}
ul.lst-kix_bkk20mmqduxg-2 {
  list-style-type: none;
}
.lst-kix_3j7chvpyx0xu-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_1isddqyjzmx-6 {
  list-style-type: none;
}
ul.lst-kix_bkk20mmqduxg-3 {
  list-style-type: none;
}
ul.lst-kix_1isddqyjzmx-5 {
  list-style-type: none;
}
.lst-kix_obqtkh4kkgbt-1 > li:before {
  content: "\0025cb   ";
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c0 {
  padding-top: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-top-style: solid;
  text-indent: 36pt;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt;
}
.c3 {
  padding-top: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-top-style: solid;
  text-indent: 36pt;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c8 {
  padding-top: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  page-break-after: avoid;
  border-top-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
  font-weight: bold !important;
}
.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Poppins";
  font-style: normal;
}
.c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt;
}
.c2 {
  color: #000000;
  font-weight: bold !important;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Poppins";
  font-style: normal;
}
.c5 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c7 {
  color: #3d3d3d;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c13 {
  font-size: 12pt;
  font-family: "Poppins";
  font-weight: bold !important;
}
.c11 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c6 {
  font-size: 10pt;
  font-family: "Poppins";
  font-weight: 400;
}
.c4 {
  padding: 0;
  margin: 0;
}
.c10 {
  padding-left: 0pt;
  margin-left: 36pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 0pt;
  color: #000000;
  border-top-width: 0pt;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  page-break-after: avoid;
  border-top-style: solid;
  border-bottom-width: 0pt;
  font-family: "Poppins";
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}