<ion-header>
  <ion-toolbar mode="ios" class="flex justify-center items-center px-8">
    <ion-img src="../../assets/icons/trokai-clean.svg"></ion-img>

    <ion-buttons slot="primary">
      <!-- help btn -->
      <button mat-icon-button routerLink="help">
        <ion-icon name="help-circle-outline"></ion-icon>
      </button>

      <!-- notif btn -->
      <button mat-icon-button class="ml-16" routerLink="notifications">
        <ion-icon name="notifications-outline"></ion-icon>

        @if (notificationCount + messageCount > 0) {
        <ion-badge color="tertiary">
          {{ notificationCount + messageCount }}
        </ion-badge>
        }
      </button>

      <button mat-icon-button class="ml-16" routerLink="carts">
        <ion-icon name="cart-outline"></ion-icon>

        @if (basketCount > 0) {
        <ion-badge color="tertiary"> {{ basketCount }} </ion-badge>
        }
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if(payload){ @if (payload.alert) {
  <div class="home_header_alert">{{ payload.alert }}</div>
  } @for (home_row of payload.home; track $index; let row = $index) {
  <div class="home_row">
    @if (home_row.title) {
    <div class="home_row_header">
      <div>
        <h2 class="home_row_title">{{ home_row.title }}</h2>
        @if (home_row.description) {
        <span class="home_row_description"> {{ home_row.description }} </span>
        }
      </div>
      @if (home_row.actionText && home_row.actionUrl) {
      <div class="flex justify-end">
        <a (click)="navigate(home_row)">
          <span class="label-caption-1 color-primary">
            {{ home_row.actionText }}
          </span>
        </a>
      </div>
      }
    </div>
    } @if (!home_row.swiper) {
    <div>
      @if (home_row.objectType === 'banner') {
      <div>
        <div style="margin-left: 1.2rem; margin-right: 1.2rem">
          <app-banner
            (navigate)="navigate(home_row.items[0])"
            [item]="home_row.items[0]"
          ></app-banner>
        </div>
      </div>
      }

      <!--
      TAVA DANDO ERRO, USA SEMPRE CARROSSEL
      @if (home_row.objectType === 'generic') {
      <div [class]="getClasses(home_row)">
        @for (home_generic of home_row.items; track $index; let col = $index) {
        <div>
          <app-home-generic
            (navigate)="navigate(home_generic)"
            [home_generic]="home_generic"
            [home_row]="home_row"
          >
          </app-home-generic>
        </div>
        }
      </div>
      }
      -->
    </div>
    } @if (home_row.swiper) {
    <div style="position: relative">
      @if (home_row.objectType === 'generic') {
      <div class="swiper-wraper">
        <div id="swiper-{{ row }}" class="row-smooth-scroll">
          @for (home_generic of home_row.items; track $index; let col = $index)
          {
          <div class="custom-swiper-slide">
            <app-home-generic
              (navigate)="navigate(home_generic)"
              [home_generic]="home_generic"
              [home_row]="home_row"
            ></app-home-generic>
          </div>
          }
        </div>
      </div>
      } @if (home_row.objectType === 'banner') {
      <div class="swiper-wraper">
        <div id="swiper-{{ row }}" class="row-smooth-scroll">
          @for (item of home_row.items; track $index; let col = $index) {
          <div class="custom-swiper-slide">
            <app-banner (navigate)="navigate(item)" [item]="item"></app-banner>
          </div>
          }
        </div>
      </div>
      }
    </div>
    }
  </div>
  } }
</ion-content>
