<ion-header>
  <ion-toolbar mode="ios">
    <app-back-button defaultHref="/main/negotiations/1"></app-back-button>
    <ion-title> Venda </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-24">
    @if (loading) {
      <div class="w-full flex justify-center mt-40">
        <ion-spinner></ion-spinner>
      </div>
    }
    @if (order && !loading) {
      <tk-sale-detail
        [order]="order"
        (openProduct)="openProduct($event)"
        (openChat)="chat()"
        (goToBank)="goToBank()"
        (cancelOrder)="cancel()"
      >
        <app-order-delivery
          delivery
          [order]="order"
          [isSale]="true"
        ></app-order-delivery>
      </tk-sale-detail>
    }
  </div>
</ion-content>
