@import '../../theme/variables.scss';

#bottom-tab {
  border: none;
}

ion-tab-button {
  ion-label {
    @extend .label-caption-1;
    color: var(--color-gray-default) !important;
  }
  ion-icon {
    color: var(--color-gray-default) !important;
  }

  &.tab-selected {
    ion-label {
      color: $color-primary !important;
      font-weight: bold !important;
    }
    ion-icon {
      color: $color-primary !important;
    }
  }
}

.notification-badge {
  right: 0rem;
  bottom: 2rem;
}
