@import "../../../styles/variables.scss";

.mat-badge {
  right: -20px;
  z-index: 100;
}

.p-relative {
  position: relative;
}

.mat-mdc-menu-item span.mat-badge-content {
  font-size: 1.2rem !important;
}
