@if (title) {
  <div class="grid-row mt-48 pt-0 pt-md-48">
    <div class="gcol-12">
      <div
      class="{{
        borderBottom ? 'border-bottom pb-8' : ''
      }} flex justify-between"
        >
        <h3 class="color-gray-dark mb-0">{{ title }}</h3>
        @if (seeMore && navMore) {
          <a
            class="flex items-end"
            (click)="nav()"
            >
            {{ navText }}
          </a>
        }
      </div>
    </div>
  </div>
}

<div class="products-grid" [style.--cols-mob]="colsMob" [style.--cols-desk]="colsDesk">
  @for (product of products; track product) {
    <div class="mt-24 pt-16">
      <tk-product-card [product]="product"></tk-product-card>
    </div>
  }
</div>
