@if (title) {
  <div class="row mt-5 pt-0 pt-md-5">
    <div class="col">
      <div
      class="{{
        borderBottom ? 'border-bottom pb-2' : ''
      }} d-flex justify-content-between"
        >
        <h3 class="color-gray-dark mb-0">{{ title }}</h3>
        @if (seeMore && navMore) {
          <a
            class="d-flex align-items-end"
            (click)="nav()"
            >
            {{ navText }}
          </a>
        }
      </div>
    </div>
  </div>
}

<div class="row row-cols-{{ colsMob }} row-cols-md-{{ colsDesk }}">
  @for (product of products; track product) {
    <div class="col mt-4 pt-3">
      <tk-product-card [product]="product"></tk-product-card>
    </div>
  }
</div>
