<div class="dialog-wrapper">
  <!-- header -->
  <div class="dialog-header border-bottom">
    <div class="flex justify-end">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
    <h2>Não saia ainda!!</h2>

    <p class="label-body-1 mt-24">
      Separamos um <b>cupom de R$10 OFF</b> para você! Ajude-nos a melhorar nos
      contando o motivo de sua saída.
    </p>
  </div>

  <!-- content -->
  <div class="dialog-content">
    @if (!selection) {
      <div class="popup-actions">
        @for (r of reasons; track r) {
          <div class="popup-action">
            <span class="label-body-2"> {{ r.text }}</span>

            <div class="popup-action-btn">
              <button mat-icon-button (click)="selection = r">
                <mat-icon class="action-icon">arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        }
      </div>
    } @else {
      <form [formGroup]="form" (ngSubmit)="next()">
        <mat-form-field appearance="fill" class="block mt-24">
          <mat-label>{{ selection.placeholder }}</mat-label>
          <textarea
            style="font-size: 14px; min-height: 75px"
            matInput
            formControlName="message"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="block mt-8">
          <mat-label>Email</mat-label>
          <input
            style="font-size: 14px"
            matInput
            type="email"
            formControlName="email"
          />
        </mat-form-field>

        <div class="mt-48 pt-48">
          <button
            mat-flat-button
            type="submit"
            [disabled]="form.invalid"
            class="w-full color-primary"
          >
            Enviar resposta
          </button>

          <button
            mat-button
            type="button"
            (click)="back()"
            style="color: white"
            class="w-full mt-16"
          >
            Voltar
          </button>
        </div>
      </form>
    }

    <p class="label-body-1 text-center mt-24 border-top pt-24">
      <b> Desconto de R$10 </b>em compras acima de R$150. USE O
      <b>CUPOM 10OFF</b>
    </p>
  </div>
</div>
