<ion-header>
  <ion-toolbar
    mode="ios"
    style="
      padding-top: 0px !important;
      --padding-start: 0px;
      --padding-end: 0px;
    "
    class="px-24 py-2 clear"
  >
    <ion-buttons slot="start">
      <ion-icon name="close" (click)="close()" mode="ios" class="modal-close">
      </ion-icon>
    </ion-buttons>
    <ion-title>
      <h3>Filtrar</h3>
    </ion-title>
    <ion-buttons slot="primary">
      @if (filtersOn()) {
      <ion-button
        fill="clear"
        color="primary"
        (click)="clear()"
      >
        Limpar
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mx-24">
    <div class="w-100 d-flex accordion-item">
      <div
        [ngClass]="{ selected: filter.promotional }"
        (click)="select('promotional')"
        class="option-item ion-activatable ripple-parent"
      >
        <label class="label-body-1"> Em promoção</label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>

    <!-- Accordion List -->
    @if (itemsMap) {
    <div class="accordion-list">
      <!-- Category -->
      <div class="accordion-item ion-activatable ripple-parent">
        <div class="accordion-item-header" (click)="openSection('category')">
          <div class="d-flex align-items-center">
            <label class="label-body-1">Categoria</label>
            @if (
                !sections.category &&
                (filter.category !== null || filter.piece.length > 0)
              ) {
            <ion-badge
              mode="ios"
            >
              {{ 1 + filter.piece.length }}
            </ion-badge>
            }
          </div>
          <ion-icon
            name="{{ sections.category ? 'chevron-up' : 'chevron-down' }}"
          ></ion-icon>
        </div>

        @if (sections.category) {
        <div class="accordion-item-intermediate">
          <!-- Categorias -->
          <div class="w-100">
            <ion-radio-group
              mode="md"
              [value]="filter.category"
              (ionChange)="changeCategory($event.target.value)"
            >
              @for (a of itemsMap.category; track a._id) {
              <ion-item
                class="ion-no-padding"
                lines="none"
              >
                <ion-radio [value]="a._id" justify="start" labelPlacement="end">
                  <div class="d-flex flex-column">
                    <ion-label
                      class="color-gray-default label-body-1 ion-text-capitalize"
                    >
                      {{ a.value }}</ion-label
                    >
                  </div>
                </ion-radio>
              </ion-item>
              }
            </ion-radio-group>
          </div>
        </div>
        }

        @if (sections.category && filter.category !== null) {
        <div
          class="accordion-item-content"
        >
          @for (c of pieces; track c._id) {
          <div
            (click)="selectMultiple('piece', c)"
            class="option-item ion-activatable ripple-parent"
            [ngClass]="{ selected: selected('piece', c) }"
          >
            <label class="label-body-2 ion-text-capitalize">
              {{ c.value }}</label
            >
            <ion-ripple-effect></ion-ripple-effect>
          </div>
          }
        </div>
        }

        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <!-- Tamanho -->
      <div class="accordion-item ion-activatable ripple-parent">
        <div class="accordion-item-header" (click)="openSection('size')">
          <div class="d-flex align-items-center">
            <label class="label-body-1">Tamanho</label>

            @if (sections.size) {
            <ion-icon
              name="help-circle-outline"
              (click)="helpSize($event)"
              class="color-gray-light-1 ml-4"
            >
            </ion-icon>
            }

            @if (
                !sections.size && (filter.age !== null || filter.size.length > 0)
              ) {
            <ion-badge
              mode="ios"
            >
              {{ 1 + filter.size.length }}
            </ion-badge>
            }
          </div>
          <ion-icon
            name="{{ sections.size ? 'chevron-up' : 'chevron-down' }}"
          ></ion-icon>
        </div>

        @if (sections.size) {
        <div class="accordion-item-intermediate">
          @if (filter.category === null) {
          <label class="label-body-1">Selecione uma categoria.</label>
          }
          @if (
              filter.category !== null &&
              (!category.sizes || category.sizes.length === 0)
            ) {
          <label
            class="label-body-1"
            >Categoria {{ category.value }} não possui tamanhos.</label
          >
          }

          <!-- Faixa etária -->

          @if (
              filter.category !== null &&
              category.sizes &&
              category.sizes.length > 0
            ) {
          <div
            class="w-100"
          >
            <ion-radio-group
              mode="md"
              [value]="filter.age"
              (ionChange)="mountSizes($event.target.value)"
            >
              @for (a of itemsMap.age; track a._id) {
              <ion-item
                class="ion-no-padding"
                lines="none"
              >
                <ion-radio [value]="a._id" justify="start" labelPlacement="end">
                  <div class="d-flex flex-column">
                    <ion-label
                      class="color-gray-default label-body-1 ion-text-capitalize"
                    >
                      {{ a.value }}</ion-label
                    >
                  </div>
                </ion-radio>
              </ion-item>
              }
            </ion-radio-group>
          </div>
          }
        </div>
        }

        @if (sections.size && sizes.length > 0) {
        <div
          class="accordion-item-content"
        >
          @for (s of sizes; track s._id) {
          <div
            (click)="selectMultiple('size', s)"
            class="option-item ion-activatable ripple-parent"
            [ngClass]="{ selected: selected('size', s) }"
          >
            <label class="label-body-1"> {{ s.value }}</label>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
          }
        </div>
        }

        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <!-- Condition -->
      <div class="accordion-item ion-activatable ripple-parent">
        <div class="accordion-item-header" (click)="openSection('condition')">
          <div class="d-flex align-items-center">
            <label class="label-body-1">Condição</label>
            @if (
                !sections.condition &&
                filter.condition &&
                filter.condition.length
              ) {
            <ion-badge
              mode="ios"
            >
              {{ filter.condition.length }}
            </ion-badge>
            }
          </div>
          <ion-icon
            name="{{ sections.condition ? 'chevron-up' : 'chevron-down' }}"
          ></ion-icon>
        </div>

        @if (sections.condition) {
        <div class="accordion-item-content">
          @for (c of itemsMap.condition; track c._id) {
          <div
            [ngClass]="{ selected: filter.condition.includes(c._id) }"
            class="option-item ion-activatable ripple-parent"
            (click)="select('condition', c)"
          >
            <label class="label-body-1"> {{ c.value }}</label>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
          }
        </div>
        }

        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <!-- Gender -->
      <div class="accordion-item ion-activatable ripple-parent">
        <div class="accordion-item-header" (click)="openSection('gender')">
          <div class="d-flex align-items-center">
            <label class="label-body-1">Gênero</label>
            @if (!sections.gender && filter.gender && filter.gender.length) {
            <ion-badge
              mode="ios"
            >
              {{ filter.gender.length }}
            </ion-badge>
            }
          </div>
          <ion-icon
            name="{{ sections.gender ? 'chevron-up' : 'chevron-down' }}"
          ></ion-icon>
        </div>

        @if (sections.gender) {
        <div class="accordion-item-content">
          @for (c of itemsMap.gender; track c._id) {
          <div
            [ngClass]="{ selected: selected('gender', c) }"
            class="option-item ion-activatable ripple-parent"
            (click)="selectMultiple('gender', c)"
          >
            <label class="label-body-1"> {{ c.value }}</label>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
          }
        </div>
        }

        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <!-- Cost -->
      <div class="accordion-item ion-activatable ripple-parent">
        <div class="accordion-item-header" (click)="openSection('cost')">
          <div class="d-flex align-items-center">
            <label class="label-body-1">Preço</label>
            @if (
                !sections.cost &&
                (filter.costLower !== null || filter.costUpper !== null)
              ) {
            <ion-badge
              mode="ios"
              >1
            </ion-badge>
            }
          </div>

          <ion-icon
            name="{{ sections.cost ? 'chevron-up' : 'chevron-down' }}"
          ></ion-icon>
        </div>

        @if (sections.cost) {
        <div class="accordion-item-content">
          <div class="w-100 ion-text-center">
            <label class="label-body-2 color-gray-default">
              {{ costRange.lower | cost | currency: 'BRL' : true : '1.0' }}
            </label>

            @if (costRange.upper < 21000) {
            <label
              class="label-body-2 color-gray-default"
            >
              a {{ costRange.upper | cost | currency: 'BRL' : true : '1.0' }}
            </label>
            }

            @if (costRange.upper >= 21000) {
            <label
              class="label-body-2 color-gray-default"
            >
              a ∞
            </label>
            }
          </div>

          <ion-row class="w-100">
            <ion-item lines="none" class="ion-no-padding w-100">
              <ion-range
                dualKnobs="true"
                min="0"
                max="21000"
                step="1000"
                [(ngModel)]="costRange"
                (ionChange)="changeCost($event)"
              >
              </ion-range>
            </ion-item>
          </ion-row>
        </div>
        }

        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    }
    <!-- End Accordion List -->
  </div>
</ion-content>

<ion-footer class="px-24 py-16">
  <ion-button class="action-button" (click)="applyFilters()">
    Aplicar filtros
  </ion-button>
</ion-footer>
