<div class="col-12 col-md-7">
  <h3 class="color-gray-dark">Cofrinho</h3>

  @if (isLoading) {
    <mat-spinner color="primary" class="spinner-small mt-4"></mat-spinner>
  }
  @if (balance) {
    <div class="mt-32">
      <div class="row">
        <div class="col">
          <h6 class="color-gray-dark d-block">Saldo disponível</h6>
          <span class="label-body-2 mt-3 color-primary d-block">
            <b>
              {{
                balance.saldoDisponivel
                  | cost
                  | currency: 'BRL' : true : '1.2-2'
              }}</b
            >
          </span>
        </div>

        <div class="col">
          <h6 class="color-gray-dark d-block">Em adamento</h6>
          <span class="label-body-2 mt-3 color-gray-default d-block">
            {{
              balance.vendasEmAndamento
                | cost
                | currency: 'BRL' : true : '1.2-2'
            }}
          </span>
        </div>

        <div class="col">
          <h6 class="color-gray-dark d-block">Total vendido</h6>

          <span class="label-body-2 mt-3 color-gray-default d-block">
            {{
              balance.totalJaVendido | cost | currency: 'BRL' : true : '1.2-2'
            }}
          </span>
        </div>
      </div>

      <button
        class="my-5"
        mat-raised-button
        color="primary"
        (click)="withdraw()"
      >
        Soliciar saque
      </button>
    </div>

    @if (ordersAndTransfers && ordersAndTransfers.length) {
      <h6 class="color-gray-dark d-block mt-32">Movimentações</h6>

      <mat-list class="mt-16">
        @for (order of ordersAndTransfers; track order) {
          <div class="py-4">
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="color-gray-dark d-block">{{ order.title }}</h6>

                <span class="label-caption-1 ml-16">
                  {{ order.date | date: 'dd/MM/yyyy' }}
                </span>
              </div>

              <!--  -->
              <div class="d-flex justify-content-between mt-16">
                <div>
                  @if (order.items) {
                    <div class="my-8">
                      @for (i of order.items; track i) {
                        <span
                          class="text-dots orderTransferText d-block label-caption-1 color-gray-default"
                        >
                          {{ i }}
                        </span>
                      }
                    </div>
                  }
                  <!--  -->
                  @if (order.text) {
                    <span class="mt-8 label-caption-1 orderTransferText">
                      {{ order.text }}
                    </span>
                  }
                  @if (order.transferAt) {
                    <div>
                      <span
                        class="mt-8 label-caption-1 color-gray-default d-flex align-items-end"
                      >
                        Previsão de saque:
                        {{ order.transferAt | date: 'dd/MM/yyyy' }}
                        <mat-icon
                          type="button"
                          class="ml-4 mt-1 color-gray-default pt-2 icon-small"
                          mat-icon-button
                          (click)="alertSaquePrevisao()"
                          matTooltip="Previsão de saque"
                          >help</mat-icon
                        >
                      </span>
                    </div>
                  }
                </div>
                <div class="d-flex align-items-end justify-content-end">
                  <span
                    class="label-body-2"
                    [ngClass]="
                      order.title === 'Venda'
                        ? 'color-primary'
                        : 'color-gray-default'
                    "
                  >
                    <b>
                      {{
                        order.amount | cost | currency: 'BRL' : true : '1.2-2'
                      }}</b
                    >
                  </span>
                </div>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>
        }
      </mat-list>
    }
  }
</div>
