<ion-header>
  <ion-toolbar mode="ios" class="clear">
    <app-back-button
      [nav]="true"
      (buttonClick)="clickBack()"
      defaultHref="/main/home"
    ></app-back-button>

    <ion-title> Entrega </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (checkoutLocal) {
  <div class="p-24">
    <!-- ENTREGA -->
    <div class="pb-8 mt-24">
      <div class="w-full mt-16">
        <mat-radio-group
          [value]="checkoutLocal.shippingOption"
          (change)="changeAddressOption($event.value)"
        >
          @if (checkoutLocal.owner.seller?.inPerson) {
          <div class="w-full">
            <mat-radio-button
              color="primary"
              class="w-full py-24 m-0"
              [value]="enumAddress.INPERSON"
            >
              <span class="flex flex-col cursor-pointer py-4">
                <span class="label-body-1 fw-semibold color-gray-dark"
                  >Retirada presencial
                </span>

                <span
                  class="label-body-2 color-gray-default mt-4"
                  style="white-space: normal"
                >
                  <ion-text class="fw-semibold">
                    Gratuito ({{ checkoutLocal.owner.address.city }},
                    {{checkoutLocal.owner.address.state}})</ion-text
                  >
                </span>

                <span
                  class="label-body-2 color-gray-default mt-4"
                  style="white-space: normal"
                >
                  Você pode combinar a retirada com o vendedor através do chat.
                </span>
              </span>
            </mat-radio-button>
          </div>
          } @if (user?.address && checkoutLocal.owner.seller?.shipping) {
          <div
            [ngClass]="{'border-top': checkoutLocal.owner.seller?.inPerson}"
            class="mb-16"
          >
            <mat-radio-button
              color="primary"
              class="w-full py-24 m-0"
              [value]="enumAddress.SHIPPING"
            >
              <span class="flex flex-col cursor-pointer">
                <span class="label-body-1 fw-semibold color-gray-dark"
                  >Entrega pelos correios
                </span>

                <!-- Shipping info -->
                <span class="flex justify-between items-center mt-4">
                  <span class="color-gray-default fw-semibold label-body-2">
                    @if(checkoutResponse.shipping.shippingValues.maxDeliveryTime)
                    {
                    <span>
                      Em até {{
                      checkoutResponse.shipping.shippingValues.maxDeliveryTime
                      }} dias após o envio por
                    </span>
                    {{ checkoutResponse.shipping.shippingValues.shippingCost |
                    cost | currency : "BRL" : "symbol" : "1.2" }} }
                  </span>
                </span>

                <span class="label-caption-1 color-gray-default">
                  {{ user.address.street }}, {{ user.address.number }} {{
                  user.address.complement ? ", " + user.address.complement : ""
                  }}
                  <br />
                  {{ user.address.zipCode | mask : "00000-000" }}, {{
                  user.address.neighborhood }} <br />
                  {{ user.address.city }}, {{ user.address.state }}
                </span>
              </span>
            </mat-radio-button>
          </div>
          }
        </mat-radio-group>
      </div>

      @if (checkoutLocal.owner.seller?.shipping) {
      <button
        mat-button
        [disabled]="checkoutLocal.shippingOption !== enumAddress.SHIPPING"
        (click)="openAddressForm()"
        class="action-button"
      >
        Alterar endereço
      </button>
      }
    </div>
  </div>
  }
</ion-content>

<ion-footer class="px-24 py-24 border-top">
  @if (checkoutLocal && checkoutLocal.owner._id) {
  <app-reserve-time
    [ownerId]="checkoutLocal.owner._id"
    (reserveOpen)="continue()"
    text="Continuar"
    [hideCancel]="true"
  >
  </app-reserve-time>
  }
</ion-footer>
