@if (itemsMap && product && owner) {
  <div class="container fill-height">
    <div class="product-layout">
      <!-- Foto(s) -->
      <!-- FOTOS -->
      <div class="product-main">
        <h2
          class="color-gray-dark capitalize block hidden-md px-24 px-md-0 pb-24"
        >
          {{ product.title }}
        </h2>
        <tk-product-image
          [product]="product"
          [myProduct]="myProduct"
        ></tk-product-image>
      </div>
      <!-- CTAs -->
      <div class="product-ctas">
        <h1 class="mt-48 mt-md-0 color-gray-dark capitalize hidden block-md">
          {{ product.title }}
        </h1>
        <div class="w-full">
          <!-- CTA Venda -->
          @if (
            product.sell && (product.published || product.reserved || myProduct)
          ) {
            <div class="product-cta">
              <div class="product-cta-footer">
                <div class="product-cta-cost">
                  @if (payment) {
                    <div>
                      <!-- pix -->
                      <div>
                        <span class="product-cta-first-cost">
                          {{
                            product.firstCost
                              ? (product.firstCost
                                | cost
                                | currency: 'BRL' : 'symbol' : '1.2')
                              : ''
                          }}
                        </span>
                        @if (this.myProduct) {
                          <span class="product-cta-main-cost">
                            {{
                              product.cost
                                | cost
                                | currency: 'BRL' : 'symbol' : '1.2'
                            }}
                          </span>
                        } @else {
                          <span class="product-cta-main-cost">
                            {{
                              payment.pix.buyerCost
                                | cost
                                | currency: 'BRL' : 'symbol' : '1.2'
                            }}
                            <span class="color-primary-2 label-body-2">
                              ({{ payment.pix.pixDiscountPercentage * 100 }}%
                              OFF no Pix)
                            </span>
                          </span>
                        }
                      </div>
                      <!-- cc -->
                      @if (!myProduct && product.published) {
                        <div class="product-installments">
                          <span class="product-installments-primary">
                            <b>
                              {{
                                payment.creditCard.maxNoInterest.installments
                              }}x
                              {{
                                payment.creditCard.maxNoInterest
                                  .installmentValue
                                  | cost
                                  | currency: 'BRL' : 'symbol' : '1.2'
                              }}
                              sem juros
                            </b>
                          </span>
                          @if (
                            payment.creditCard.maxInstallments.installments >
                            payment.creditCard.maxNoInterest.installments
                          ) {
                            <span class="product-installments-secondary">
                              ou até
                              {{
                                payment.creditCard.maxInstallments.installments
                              }}x com juros
                            </span>
                          }
                        </div>
                      }
                      <div class="product-cta-delivery">
                        @if (owner.seller?.inPerson) {
                          <span
                            class="{{
                              owner.seller?.shipping ? ' mb-8 block' : ''
                            }}"
                          >
                            Retirada presencial
                            @if (!myProduct) {
                              <span> gratuita</span>
                            }
                          </span>
                        }
                        @if (owner.seller?.shipping && !myProduct) {
                          <div>
                            <tk-zipcode-shipping-fee
                              [productId]="productId"
                            ></tk-zipcode-shipping-fee>
                          </div>
                        }
                        @if (owner.seller?.shipping && myProduct) {
                          <div>
                            <span>Envio pelos correios</span>
                          </div>
                        }
                      </div>
                    </div>
                  }
                </div>
                @if (isInReserves && owner) {
                  <div class="mt-24">
                    <app-reserve-time
                      [ownerId]="owner._id"
                      (open)="openCheckout()"
                      [text]="'Continuar compra'"
                      [hideCancel]="true"
                    >
                    </app-reserve-time>
                  </div>
                }
                <!-- DA OUTRA PESSOA -->
                @if (!myProduct && product.published) {
                  <div>
                    @if (!product_in_basket) {
                      <button
                        (click)="clickBuy()"
                        mat-flat-button
                        color="primary"
                      >
                        {{
                          wardrobe_basket && !wardrobe_reserved
                            ? 'Adicionar à sacola'
                            : 'COMPRAR'
                        }}
                      </button>
                    }
                    @if (product_in_basket) {
                      <div class="flex flex-col">
                        <button
                          routerLink="/buying/carts"
                          mat-flat-button
                          color="primary"
                        >
                          Ver na sacola
                        </button>
                        <button
                          class="mt-12"
                          (click)="removeFromBasket()"
                          mat-stroked-button
                          color="accent"
                        >
                          Remover da sacola
                        </button>
                      </div>
                    }
                    <div class="product-cta-hints">
                      <div class="product-cta-hint">
                        <ion-icon name="shield-checkmark"></ion-icon>
                        <span class="product-cta-hint-title">
                          Compra protegida pelo Trokaí
                        </span>
                      </div>
                      <div class="product-cta-hint">
                        <ion-icon name="arrow-undo"></ion-icon>
                        <span class="product-cta-hint-title">
                          Devolução garantida
                        </span>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          }
          <!-- Status do produto -->
          @if (myProduct || !product.published) {
            <div class="w-full mt-48 pb-24">
              <div class="flex flex-col gap-16">
                <!--  STATUS -->
                <div class="mr-24 flex product-status-container">
                  <!-- PUBLISHED -->
                  @if (product.published && myProduct) {
                    <div
                      matTooltip="Anúncio publicado."
                      class="product-cta-status"
                    >
                      <ion-icon name="checkmark-outline"></ion-icon>
                      <span> {{ expiration?.text ?? '' }} </span>
                    </div>
                  }
                  <!-- WAITING PUB -->
                  @if (product.waitingPublication && myProduct) {
                    <div
                      matTooltip="O anúncio está em análise e deve ser publicado em alguns minutos"
                      class="product-cta-status"
                    >
                      <ion-icon name="time-outline"></ion-icon>
                      <span> Em análise </span>
                    </div>
                  }
                  <!-- REQUIRES ADJUSTS -->
                  @if (product.waitingAdjustment && myProduct) {
                    <div
                      matTooltip="Corrija os problemas para publicar o anúncio."
                      class="product-cta-status error"
                    >
                      <ion-icon name="warning-outline"></ion-icon>
                      <span> Requer ajustes </span>
                    </div>
                  }
                  <!-- EXPIRED -->
                  @if (product.expired && myProduct) {
                    <div
                      matTooltip="O anúncio expirou, clique em reativar para publicá-lo novamente."
                      class="product-cta-status error"
                    >
                      <ion-icon name="close-outline"></ion-icon>
                      <span> Anúncio expirado </span>
                    </div>
                  }
                  @if ((product.expired && !myProduct) || product.unavailable) {
                    <div
                      matTooltip="Este produto não está mais disponível."
                      class="product-cta-status error"
                    >
                      <ion-icon name="close-outline"></ion-icon>
                      <span> Produto indisponível </span>
                    </div>
                  }
                  <!-- NEGOTIATIONS -->
                  @if (product.reserved) {
                    <div class="product-cta-status">
                      <ion-icon name="ban-outline"></ion-icon>
                      <span> Produto reservado </span>
                    </div>
                  }
                  @if (product.sold) {
                    <div class="product-cta-status">
                      <ion-icon name="cash-outline"></ion-icon>
                      <span> Produto vendido </span>
                    </div>
                  }
                  @if (product.selling) {
                    <div class="product-cta-status">
                      <ion-icon name="time-outline"></ion-icon>
                      <span> Reservado </span>
                    </div>
                  }
                  <!-- PAUSED -->
                  @if (product.paused && myProduct) {
                    <div
                      matTooltip="O anúncio está pausado, clique em publicar para publicá-lo novamente."
                      class="product-cta-status"
                    >
                      <ion-icon name="pause-outline"></ion-icon>
                      <span> Anúncio pausado </span>
                    </div>
                  }
                </div>
                <!-- BUTTONS -->
                <tk-product-owner-buttons
                  [product]="product"
                  [myProduct]="myProduct"
                  [showRenew]="showRenew"
                  (edit)="editProduct()"
                  (duplicate)="duplicateProduct()"
                  (deactivate)="deactivateProduct()"
                  (activate)="activateProduct()"
                  (remove)="deleteProduct()"
                  (renew)="renewProduct()"
                  (correct)="editProduct()"
                ></tk-product-owner-buttons>
              </div>
            </div>
          }
          <!-- categorias e descricao -->
          <div
            class="product-description-container {{
              !product.published ? '' : 'border-top'
            }}"
          >
            <p>{{ product.description }}</p>
            <!-- Categorias -->
            <div class="flex flex-wrap mt-24 gap-8">
              @if (product.brand) {
                <tk-status-pill
                  variant="neutral"
                  [label]="product.brand.name"
                />
              }
              <tk-status-pill
                variant="neutral"
                [label]="product.piece | itemName: 'piece' : product.category"
              />
              @if (product.size !== null) {
                <tk-status-pill
                  variant="neutral"
                  [label]="
                    'Tam ' +
                    (product.size
                      | itemName: 'size' : product.category : product.age)
                  "
                />
              }
              <tk-status-pill
                variant="neutral"
                [label]="product.gender | itemName: 'gender'"
              />
              <tk-status-pill
                variant="neutral"
                [label]="product.condition | itemName: 'condition'"
              />
            </div>
          </div>
          <!-- Loja -->
          <div
            class="py-48 cursor-pointer"
            routerLink="/users/{{ owner.seller?.nickname }}"
          >
            <tk-seller-header [user]="owner" size="md">
              <div class="mt-8 flex justify-between items-center">
                <tk-review-stars
                  [stars]="owner.seller?.health?.reviewsAverage ?? 0"
                  [amount]="owner.seller?.health?.reviewsAmount"
                  [clickable]="!!owner.seller?.health?.reviewsAmount"
                  (clicked)="openReviews(owner)"
                ></tk-review-stars>
              </div>
              <div class="flex flex-wrap gap-48 mt-32">
                @if ((owner.seller?.health?.productsSold ?? 0) > 0) {
                  <div class="flex flex-col">
                    <span class="label-caption-1 fw-300 color-gray-default">
                      Vendidos
                    </span>
                    <span class="label-caption-1 color-gray-dark">
                      {{ owner.seller?.health?.productsSold }}
                    </span>
                  </div>
                }
                <div class="flex flex-col">
                  <span class="label-caption-1 fw-300 color-gray-default">
                    À venda
                  </span>
                  <span class="label-caption-1 color-gray-dark">
                    {{ owner.seller?.health?.productsForSale }}
                  </span>
                </div>
                @if ((owner.seller?.health?.productsSold ?? 0) > 0) {
                  <div class="flex flex-col">
                    <span class="label-caption-1 fw-300 color-gray-default">
                      Tempo médio de envio
                    </span>
                    <span class="label-caption-1 color-gray-dark">
                      {{ owner.seller?.health?.avgPostageDays }}
                      {{
                        (owner.seller?.health?.avgPostageDays ?? 0) > 1
                          ? 'dias úteis'
                          : 'dia útil'
                      }}
                    </span>
                  </div>
                }
              </div>
            </tk-seller-header>
          </div>
          @if (myProduct || product.published) {
            <!-- Perguntas -->
            <div class="py-48">
              <app-product-questions
                [product]="product"
              ></app-product-questions>
            </div>
          }
        </div>
      </div>
    </div>
    <!-- Mais da loja -->
    @if (itemsMap && otherClothes && otherClothes.length > 0) {
      <app-products-horizontal-list
        title="Mais de {{ owner.seller?.storeName ?? owner.name | titlecase }}"
        [products]="otherClothes"
        [seeMore]="true"
        [navText]="'Ver tudo'"
        navMore="/users/{{ owner.seller?.nickname }}"
      >
      </app-products-horizontal-list>
    }
  </div>
}
