<ion-content>
  <div class="p-24">
    <div class="flex flex-col justify-center items-center" style="height: 90vh">
      <ion-icon
        name="sad-outline"
        class="color-gray-dark"
        style="font-size: 4rem"
      ></ion-icon>

      @if (outdated) {
      <h2 class="block color-gray-dark mt-56">Aplicativo desatualizado</h2>
      } @if (outdated) {
      <span class="label-body-2 color-gray-default ion-text-center mt-16 mx-8">
        Por favor, atualize seu aplicativo para continuar usando o Trokaí.
      </span>
      } @if (banned) {
      <h2 class="block color-gray-dark mt-56">Conta banida</h2>
      } @if (banned) {
      <span class="label-body-2 color-gray-default ion-text-center mt-16 mx-40">
        Sua conta foi banida por violar os termos de uso do Trokaí.
      </span>
      } @if (outdated) {
      <button
        mat-flat-button
        color="primary"
        class="action-button mt-56"
        (click)="openStore()"
      >
        Atualizar o Trokaí
      </button>
      }
    </div>
  </div>
</ion-content>
