<ion-buttons slot="start">
  <!-- Usado em nav ou modal -->
  <button
    mat-icon-button
    [ngStyle]="{ display: blockNavigation || nav ? 'block' : 'none' }"
    color="primary"
    (click)="click($event)"
  >
    <ion-icon name="arrow-back-outline" color="primary"> </ion-icon>
  </button>

  <ion-back-button
    [ngStyle]="{ display: blockNavigation || nav ? 'none' : 'block' }"
    text=""
    mode="{{ mode }}"
    color="primary"
    [defaultHref]="defaultHref"
  >
  </ion-back-button>
</ion-buttons>
