<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <div class="tabs-trokai">
    @for (t of tabList; track $index) {
    <div
      class="tab-trokai"
      [ngClass]="{'active': tab === t}"
      (click)="changeTab(t)"
    >
      <span class="label-body-2 color-gray-default">{{t}}</span>
      <div class="tab-trokai-indicator"></div>
    </div>
    }
  </div>
</ion-toolbar>

<ion-content>
  <!-- tabs superiores -->

  <ion-refresher slot="fixed" color="primary" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <!-- loading -->
    @if (isLoading) {
    <div class="w-full flex justify-center items-center" style="height: 60vh">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
    }

    <!-- Compras -->
    @if (!isLoading && tab === 'Compras') {
    <div class="w-full negotiations">
      @for (p of purchases; track p._id) {
      <tk-purchase-list-item
        [order]="p"
        [useLink]="false"
        (open)="openPurchase(p)"
      ></tk-purchase-list-item>
      } @if (!purchases || purchases.length === 0) {
      <div class="empty-page full">
        <ion-icon name="sad-outline"></ion-icon>
        <span> Nenhuma compra</span>
      </div>
      }
    </div>
    }

    <!-- Vendas -->
    @if (!isLoading && tab === 'Vendas') {
    <div class="w-full negotiations">
      @for (s of sales; track s._id) {
      <tk-sale-list-item
        [order]="s"
        [useLink]="false"
        (open)="openSale(s)"
      ></tk-sale-list-item>
      } @if (!sales || sales.length === 0) {
      <div class="empty-page full">
        <ion-icon name="sad-outline"></ion-icon>
        <span> Nenhuma venda</span>
      </div>
      }
    </div>
    }
  </div>
</ion-content>
