<ion-header>
  <ion-toolbar mode="ios">
    <app-back-button defaultHref="/main/negotiations/2"></app-back-button>

    <ion-title> Ponto de coleta </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-24">
    <div class="postage-intro">
      <span class="label-body-2 mb-4">
        Selecione um ponto de coleta próximo a você para entregar o seu pedido.
      </span>
    </div>

    @if (loading) {
      <div class="w-full flex justify-center my-48">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    }

    @if (!loading) {
      <div class="checkout-body">
        <mat-radio-group (change)="selectAgency($event.value)">
          @for (agency of visibleAgencies; track agency.id) {
            <div class="border-bottom mb-12 p-8">
              <mat-radio-button color="primary" [value]="agency.id">
                <span class="ion-text-wrap">
                  <div class="custom-radio-button-content">
                    <div class="flex justify-between">
                      <span class="item-label">
                        {{ agency.name }} ({{ agency.displayDistance }})
                      </span>
                    </div>
                    <span class="item-value">
                      {{ agency.displayAddress }}. {{ agency.note }}
                    </span>
                  </div>
                </span>
              </mat-radio-button>
            </div>
          }
        </mat-radio-group>

        @if (agencies && visibleAgencies.length < agencies.length) {
          <div class="flex justify-center mt-4">
            <button
              mat-stroked-button
              color="primary"
              (click)="loadMoreAgencies()"
            >
              Mostrar mais
            </button>
          </div>
        }
      </div>
    }
  </div>
</ion-content>

@if (selectedAgency && !loading) {
  <ion-footer class="px-24 py-16">
    <button
      mat-flat-button
      class="action-button"
      color="primary"
      (click)="confirmSelection()"
    >
      Continuar
    </button>
  </ion-footer>
}
