@import 'variables';

.camera-edit {
  position: absolute;
  left: 11vw;
  bottom: 0vw;
  background: white;
  border-radius: 17px;
  font-size: 5vw !important;
  box-shadow: $card-box-shadow;
  padding: 0.5vw;
  color: $color-gray-default;
}

ion-avatar {
  width: 16vw;
  height: 16vw;
  box-shadow: $card-box-shadow;
  position: relative;

  ion-spinner {
    position: absolute;
    top: 25%;
    right: 25%;
  }
}

.card-avatar {
  position: relative;

  ion-icon {
    font-size: 4vw;
    margin-left: 2px;
  }
}