<ion-header>
  <ion-toolbar mode="ios" class="clear">
    <ion-buttons slot="start">
      <app-back-button defaultHref="/main/profile"></app-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-24">
    <tk-cart
      [baskets]="baskets"
      (checkout)="checkout($event)"
      (removeProduct)="removeProduct($event)"
      (openProduct)="openProduct($event)"
      (openOwner)="openWardrobe($event)"
      (openReviews)="openWardrobe($event)"
      (addMore)="openWardrobe($event)"
      (browseProducts)="browseProducts()"
    ></tk-cart>
  </div>
</ion-content>
