.home_generic:hover {
  opacity: 0.8;
}

.home_generic {
  width: 100%;
  text-align: center;
  opacity: 1;

  cursor: pointer;

  .home_generic_box {
    aspect-ratio: 1;
    width: 100%;

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 4px;
    }

    &.home_generic_circle {
      border-radius: 100%;
      img {
        border-radius: 100%;
      }
    }
  }
  .home_generic_label {
    margin-top: 1rem;
    display: block;
  }
}
