<div (click)="_navigate()" class="home_generic">
  <div class="home_generic_box home_generic_{{ home_row.itemsShape }}">
    @if (home_generic.imgUrl && home_row.itemsType !== 'products') {
    <img
      alt="{{ home_generic.label }}"
      [src]="home_generic.imgUrl"
    />
    }

    @if (home_row.itemsType === 'products') {
    <tk-product-card [useLink]="false"
      (open)="_navigate()"
      [product]="home_generic.extras.product"
    >
    </tk-product-card>
    }
  </div>

  @if (home_row.showLabels) {
  <span class="home_generic_label">{{
    home_generic.label
  }}</span>
  }
</div>
