<ion-content>
  <div class="px-24 mt-40">
    <h6 class="color-gray-dark ion-text-center">Renovar anúncio</h6>

    <div class="flex justify-center mt-32">
      <label class="label-body-2 ion-text-center">
        Que tal dar uma atualizada no anúncio antes de renovar? Pode ser legal
        caprichar mais nas informações para chamar mais atenção.
      </label>
    </div>
  </div>
</ion-content>

<ion-footer class="px-24 py-16">
  <div>
    <button
      mat-flat-button
      color="primary"
      (click)="editFirst()"
      class="action-button"
    >
      Editar antes
    </button>
  </div>
  <div class="mt-8">
    <button mat-button (click)="renew()" class="action-button">
      Renovar sem editar
    </button>
  </div>
</ion-footer>
