<div class="trokai-footer border-top">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a routerLink="/help" target="_blank"> Ajuda </a>
        </li>
        <li>
          <a href="https://trokai.page.link/from-website" target="_blank">
            Baixe o aplicativo
          </a>
        </li>

        <li>
          <a
            rel="nofollow"
            href="https://www.instagram.com/trokai.oficial/"
            target="_blank"
          >
            Siga no instagram
          </a>
        </li>

        <li>
          <a
            rel="nofollow"
            href="https://www.trokai.com.br/termos-de-uso"
            target="_blank"
          >
            Termos de uso
          </a>
        </li>

        <li>
          <a
            rel="nofollow"
            href="https://www.trokai.com.br/politica-de-privacidade"
            target="_blank"
          >
            Política de privacidade
          </a>
        </li>

        <li>
          <a routerLink="/guia-vendedor" target="_blank">
            Guia do vendedor Trokaí
          </a>
        </li>
      </ul>
    </nav>

    <div class="mt-40">
      <span class="label-caption-1 block mt-24">
        Copyright © {{ year }} Trokaí - Todos os direitos reservados - Trokaí
        Tecnologia LTDA. CNPJ: 34.863.061/0001-02
      </span>
    </div>
  </div>
</div>
