@import "../../styles/variables.scss";

.trokai-footer {
  min-height: 65px;
  display: flex;
  align-items: center;
  // margin-top: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  ul {
    padding-left: 0;
    li {
      list-style: none;
      margin-bottom: 1rem;
      a {
        @extend .label-caption-1;
        margin-top: var(--space-4);
        display: block;
      }
    }
  }
}
