<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="primary" (click)="options()">
      <ion-icon
        slot="icon-only"
        class="color-primary"
        mode="md"
        name="ellipsis-vertical"
      ></ion-icon>
    </ion-buttons>

    <div class="flex py-16">
      <div class="flex items-center">
        <app-back-button
          [blockNavigation]="true"
          (buttonClick)="close()"
        ></app-back-button>
      </div>
      <div>
        <div class="w-full flex items-center">
          <div>
            <div class="ion-no-padding flex">
              <div class="flex justify-center items-center mr-16">
                <tk-user-avatar [user]="otherUser" />
              </div>

              <div class="flex justify-center items-start flex-col">
                <h6 class="color-gray-dark max-user-name">
                  {{ otherUser.storeName }}
                </h6>

                @if (showStatus) {
                  <label class="label-caption-1 color-gray-default mt-8">
                    {{ otherUser.nickname }}
                  </label>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <tk-chat-thread
    [user]="user"
    [otherUser]="otherUser"
    [negotiationId]="negotiationId"
    [negotiationType]="negotiationType"
    [enabled]="enabled"
  ></tk-chat-thread>
</ion-content>
