<div class="mb-48">
  <button color="primary" mat-button routerLink="/orders/purchases">
    <mat-icon>arrow_back</mat-icon> Minhas compras
  </button>
</div>

@if (order && !loading) {
  <tk-purchase-detail
    #pd
    [order]="order"
    [globalParams]="globalParams"
    (openProduct)="openProduct($event)"
    (openSeller)="openSeller()"
    (openChat)="openChat()"
    (copyPix)="copyPix()"
    (reload)="reload()"
  >
    <app-order-delivery
      delivery
      (confirmWithdrawalClick)="pd.confirmWithdrawal()"
      [order]="order"
      [isPurchase]="true"
    ></app-order-delivery>
  </tk-purchase-detail>
}
