<div class="dialog-wrapper">
  <!-- header -->
  <div class="dialog-header">
    <div class="flex justify-end">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>

  <!-- content -->
  <div class="dialog-content">
    <span class="label-large-1 text-center flex gap-8">
      <mat-icon>sell</mat-icon> <b>CUPOM "{{ data.coupon.code }}"</b>
    </span>

    <p class="label-body-1 text-center mt-24">
      {{ data.coupon.description }}
    </p>

    @if (data.coupon.sellerUser) {
      <p class="label-body-1 text-center mt-8 mb-8">
        Cupom exclusivo de
        <b>{{ data.coupon.sellerUser.storeName }}</b>
      </p>
    }

    <button
      mat-flat-button
      color="primary"
      (click)="copyCode()"
      cdkFocusInitial
    >
      Copiar código do cupom
    </button>
  </div>
</div>
