// Collection component styles

:host {
  display: block;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-24);
  align-items: start;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
