.home_banner {
  width: 100%;
  border: 0px;

  opacity: 1;

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
  }
}

.home_banner:hover {
  opacity: 0.8;
  cursor: pointer;
}
