<div class="cookies-dialog">
  <div>
    <span class="label-body-2">
      No Trokaí, usamos tecnologias conforme nossa política de privacidade,
      incluindo cookies. Ao seguir navegando, você concorda com isso. Saiba mais
      em nossa
      <a
        rel="nofollow"
        href="https://www.trokai.com.br/politica-de-privacidade"
        target="_blank"
      >
        <b>política de privacidade.</b>
      </a>
    </span>
  </div>

  <div class="flex justify-end mt-24">
    <button mat-flat-button color="primary" (click)="accept()">
      Aceito continuar
    </button>
  </div>
</div>
