<ion-header>
  <ion-toolbar mode="ios" class="clear" style="padding-top: 0px !important">
    <ion-buttons slot="primary">
      <ion-icon
        name="close"
        (click)="closeExit()"
        mode="ios"
        class="modal-close"
      >
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-24">
    <h6 class="text-center color-gray-dark">Alterar CEP</h6>

    <mat-form-field appearance="outline" class="w-full mt-32">
      <mat-label>CEP</mat-label>
      <input
        matInput
        [appMask]="'00000-000'"
        [(ngModel)]="zipcode"
        maxlength="9"
        type="text"
        inputmode="numeric"
      />
    </mat-form-field>
  </div>
</ion-content>

<ion-footer class="px-24 py-16">
  <button
    mat-flat-button
    color="primary"
    class="action-button"
    (click)="save()"
    [disabled]="!zipcode || zipcode.toString().length !== 9"
  >
    Confirmar
  </button>
</ion-footer>
