<ion-header>
  <ion-toolbar mode="ios" class="clear">
    <app-back-button
      [nav]="true"
      (buttonClick)="clickBack()"
      defaultHref="/main/home"
    ></app-back-button>

    <ion-title> Compra</ion-title>
  </ion-toolbar>
</ion-header>
@if (checkoutLocal) {
<ion-content>
  <ion-grid class="p-24">
    <div>
      @for(p of checkoutLocal.products; track p) {
      <div
        (click)="open(p)"
        class="cart-item mt-16 flex w-full justify-between"
      >
        <div class="flex items-center">
          <ion-thumbnail class="product-item">
            <ion-img
              src="{{ p.images?.[0]?.sm }}"
            >
            </ion-img>
          </ion-thumbnail>

          <div class="cart-item-text">
            <span class="label-body-2 color-gray-dark capitalize"
              ><b>{{ p.title }}</b>
            </span>

            <span class="label-body-2 mt-8">
              {{ p.cost | cost | currency : "BRL" : "symbol" : "1.2" }}
            </span>
          </div>
        </div>
      </div>
      }
    </div>

    <!-- METODO -->
    <div class="py-24">
      <span class="label-body-1 color-gray-dark block"
        ><b>Método de pagamento</b>
      </span>

      <ion-radio-group
        mode="md"
        [value]="checkoutLocal.paymentOption"
        (ionChange)="changePaymentOption($event.detail.value)"
      >
        <ion-item lines="none" class="ion-no-padding py-8 mt-12">
          <ion-icon
            class="mr-16"
            slot="start"
            src="../../../assets/icons/pix.svg"
          ></ion-icon>

          <ion-radio
            mode="md"
            justify="start"
            labelPlacement="end"
            class="w-full py-8 m-0"
            [value]="PaymentOption.PIX"
          >
            <span class="flex cursor-pointer py-4">
              <span class="label-body-2 color-gray-dark">PIX</span>
              @if (pixDiscountPercent) {
              <span class="color-primary label-body-2 fw-semibold">
                &nbsp; {{ pixDiscountPercent * 100 }}% off
              </span>
              }
            </span>
          </ion-radio>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding py-8">
          <ion-icon class="mr-16" slot="start" name="card-outline"></ion-icon>

          <ion-radio
            mode="md"
            justify="start"
            labelPlacement="end"
            class="w-full py-8 m-0"
            [value]="PaymentOption.CREDIT_CARD"
          >
            <span class="label-body-2 ion-text-capitalize">
              Cartão de crédito
            </span>
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <!-- CARTAO -->
    @if (checkoutLocal.paymentOption === PaymentOption.CREDIT_CARD) {
    <div class="py-24 border-top">
      <div class="flex justify-between items-center">
        <span class="label-body-1 color-gray-dark"><b>Cartão</b> </span>
        <ion-button (click)="newCard()" fill="clear"> Adicionar </ion-button>
      </div>

      @if (user.cards && user.cards.length > 0) {
      <div class="mt-16">
        <ion-item class="ion-no-padding">
          <ion-select
            label="Cartão"
            labelPlacement="floating"
            class="w-full"
            [(ngModel)]="checkoutLocal.cardId"
            okText="Selecionar"
            cancelText="Cancelar"
          >
            @for (c of user.cards; track c._id) {
            <ion-select-option [value]="c._id">
              **** **** **** {{c.lastDigits}}
            </ion-select-option>
            }
          </ion-select>
        </ion-item>
      </div>
      }

      @if (user.cards && user.cards.length > 0 && checkoutLocal.cardId !== null) {
      <div>
        <ion-item class="ion-no-padding">
          <ion-select
            class="w-full"
            [(ngModel)]="checkoutLocal.selectedInstallments"
            (ionChange)="installmentsSelected($event.detail.value)"
            okText="Selecionar"
            cancelText="Cancelar"
            label="Parcelas"
            labelPlacement="floating"
          >
            @for (i of installments; track $index) {
            <ion-select-option [value]="i.installments">
              {{ i.installments }} x de {{ i.installmentValue | cost | currency
              : "BRL" : true : "1.2" }} {{ i.installments > 1 ? i.interest ? "
              com juros" : " sem juros" : "" }}
            </ion-select-option>
            }
          </ion-select>
        </ion-item>
      </div>
      }
    </div>
    }

    <!-- VALORES -->

    <div class="py-24">
      <span class="label-body-1 color-gray-dark"><b>Valor a pagar</b> </span>

      <div class="flex flex-col mt-16">
        <ion-item lines="none" class="ion-no-padding">
          <span class="label-body-2 ion-text-capitalize"> Carrinho </span>
          <span slot="end" class="label-body-2">
            {{ sumCart | cost | currency : "BRL" : "symbol" : "1.2" }}
          </span>
        </ion-item>

        @for(fee of fees; track fee){

          <ion-item lines="none" class="ion-no-padding">
          <span
            (click)="showFeeInfo(fee)"
            class="label-body-2 ion-text-capitalize flex items-center"
          >
            {{ fee.name }}

            @if (fee.description){
            <ion-icon
              name="help-circle-outline"
              style="font-size: 16px"
            ></ion-icon>
            }
          </span>

          @if (fee.type === UserFeeType.BUYER_SHIPPING_REDUCED) {

            <div slot="end" class="flex gap-8 items-center">
              <span class="label-body-2 color-gray-light-1 line-through mr-4">
                {{
                  fullShippingCost | cost | currency : "BRL" : "symbol" : "1.2"
                }}
              </span>

              <span class="label-body-2">
                {{ fee.value | cost | currency : "BRL" : "symbol" : "1.2" }}
              </span>
            </div>

          } @else {
            <span slot="end" class="label-body-2">
            {{ fee.value | cost | currency : "BRL" : "symbol" : "1.2" }}
          </span>

          }



        </ion-item>

      }


        @if (interest) {
        <ion-item lines="none" class="ion-no-padding">
          <span class="label-body-2 ion-text-capitalize">
            Juros parcelamento
          </span>
          <span slot="end" class="label-body-2">
            {{ interest | cost | currency : "BRL" : "symbol" : "1.2" }}
          </span>
        </ion-item>
        } @if (discount) {
        <ion-item lines="none" class="ion-no-padding">
          <span class="label-body-2 ion-text-capitalize"> Cupom </span>
          <span slot="end" class="label-body-2 color-primary">
            - {{ discount | cost | currency : "BRL" : "symbol" : "1.2" }}
          </span>
        </ion-item>
        } @if (pixDiscount) {
        <ion-item lines="none" class="ion-no-padding">
          <span class="label-body-2 ion-text-capitalize"> Desconto PIX </span>
          <span slot="end" class="label-body-2 color-primary">
            - {{ pixDiscount | cost | currency : "BRL" : "symbol" : "1.2" }}
          </span>
        </ion-item>
        }

        <ion-item lines="none" class="ion-no-padding">
          <span class="label-body-2 ion-text-capitalize fw-semibold">
            Total
          </span>
          <span slot="end" class="label-body-2 fw-semibold">
            {{ sumTotal | cost | currency : "BRL" : "symbol" : "1.2" }}
          </span>
        </ion-item>
      </div>
    </div>

    <div class="mt-16">
      <tk-coupon-form></tk-coupon-form>
    </div>
  </ion-grid>
</ion-content>

<ion-footer class="px-24 py-16 border-top">
  <app-reserve-time
    [ownerId]="checkoutLocal.owner._id"
    (reserveOpen)="finish()"
    [text]="'Finalizar compra'"
    [hideCancel]="true"
  >
  </app-reserve-time>
</ion-footer>
}
