<ion-content>
  <ion-grid class="p-24">

    <h2 class="color-gray-dark mt-24 ion-text-center"> Etiqueta dos Correios </h2>

    <ion-label class="label-body-2 mt-48 d-block ion-text-center">
      Para realizar a venda através dos correios é necessário que
      você gere uma etiqueta que é disponibilizada pelo Trokaí.
    </ion-label>

    <div class="w-100 d-flex justify-content-center">
          <!-- <div class="animation" lottie [options]="options"></div> -->
          <div class="animation">
            <ng-lottie [options]="options"></ng-lottie>
          </div>
    </div>

    <ion-label class="label-body-2 color-gray-light-1 d-block mt-8"> Você deve: </ion-label>

    <div class="mt-8">
      <ul>
        <li>
          <ion-label class="label-body-2 color-gray-default">Gerar e imprimir a etiqueta</ion-label>
        </li>
        <li>
          <ion-label class="label-body-2 color-gray-default"> Colar a etiqueta na embalagem</ion-label>
        </li>
        <li>
          <ion-label class="label-body-2 color-gray-default"> Levar a embalagem aos correios</ion-label>
        </li>
      </ul>
    </div>

  </ion-grid>
</ion-content>

<ion-footer class="px-24 py-16">
  <ion-button class="action-button" (click)="close()">Gerar etiqueta</ion-button>
</ion-footer>