<div class="page">
  <div class="login-card text-center">
    <h2 class="color-gray-dark">Fazer login no Trokaí</h2>

    <tk-login-form
      class="mt-48 block"
      [loading]="loading"
      (submitted)="login($event)"
      (forgotPassword)="toForgot()"
      (register)="toRegister()"
    >
      <span class="label-caption-1 my-16 block">ou</span>

      <tk-google-btn (googleClick)="googleLogin()"></tk-google-btn>

      <tk-apple-btn
        class="mt-8 block"
        (appleClick)="appleLogin()"
      ></tk-apple-btn>
    </tk-login-form>
  </div>
</div>
