<div class="container page">
  @if (otherUser && user) {
    <div class="grid-row">
      <div class="gcol-12 gcol-md-3">
        <div
          class="flex mt-32 items-start justify-between justify-md-start"
        >
          <div class="hidden block-md mr-24">
            <tk-user-avatar [user]="otherUser"></tk-user-avatar>
          </div>

          <div class="flex flex-col">
            <h4 class="color-gray-dark capitalize block">
              {{ otherUser.storeName ?? otherUser.name }}
            </h4>

            <span class="label-caption-1 color-gray-default max-user-address block">
              {{ otherUser.address.city }}, {{ otherUser.address.state }}
            </span>

            <button
              class="hidden block-md mt-24"
              (click)="openOrder()"
              mat-stroked-button
              color="primary"
            >
              Detalhes da {{ typeString }}
            </button>
          </div>

          <button
            class="block hidden-md"
            (click)="openOrder()"
            mat-stroked-button
            color="primary"
          >
            Detalhes da {{ typeString }}
          </button>
        </div>
      </div>

      <div class="gcol-12 gcol-md-9 px-0 mt-24 mt-md-0">
        <div id="chat-wrapper">
          <tk-chat-thread
            [user]="user"
            [otherUser]="otherUser"
            [negotiationId]="negotiationId"
            [negotiationType]="negotiationType"
            [enabled]="enabled"
          ></tk-chat-thread>
        </div>
      </div>
    </div>
  }
</div>
