<div class="d-flex">
  @if (!zipLoading && zipCode) {
  <span
    class="d-block shipping-label label-body-2"
    (click)="clickShippingLabel($event)"
  >
    Em até {{ shippingInfo.maxDeliveryTime }} dias após o envio por
    <span>

      @if (shippingInfo.fullShippingCost && shippingInfo.fullShippingCost !== shippingInfo.shippingCost) {
        <span class="color-gray-light-1 line-through">
          {{
            shippingInfo.fullShippingCost
              | cost
              | currency: 'BRL' : 'symbol' : '1.0-2'
          }}
        </span>
      }


      <b>
        {{
          shippingInfo.shippingCost
            | cost
            | currency: 'BRL' : 'symbol' : '1.0-2'
        }}
      </b>
    </span>
    (CEP {{ zipCode | mask: '00000-000' }})
  </span>
  }

  @if (!zipLoading && !zipCode) {
  <span
    class="d-block shipping-label color-primary label-body-2"
    (click)="clickShippingLabel($event)"
  >
    <b>Calcular frete de entrega</b>
  </span>
  }

  @if (zipLoading) {
  <div class="d-flex align-items-center">
    <ion-spinner name="dots"></ion-spinner>
    <span class="label-body-2 ms-4">Buscando valor do frete</span>
  </div>
  }
</div>
