@if((!chats || chats.length === 0)){
  <div class="empty-page full">
    @if (true) {
      <ion-icon name="sad-outline"></ion-icon>
    }
    <span class="label-body-2 d-block"> Nenhuma mensagem</span>
  </div>
} @else {
  <!--  -->
  @for (c of chats; track c){
    <div
      class="d-flex border-bottom py-5 px-4 cursor-pointer"
      (click)="openChat(c)"
      >
      <tk-user-avatar [user]="c.otherUser"></tk-user-avatar>

      <div class="d-block ml-16 flex-column" style="align-items: start !important">
        <div>
          <h6 class="label-body-1 text-dots color-gray-dark">
            {{ c.otherUser.storeName ?? c.otherUser.name }}
            <label class="label-caption-1 ml-8 color-gray-light-1">
              {{ c.lastMessage.createdAt | shortDate }}
            </label>
          </h6>
        </div>
        <label
          class="label-body-2 text-dots mt-2"
          [ngClass]="{ 'fw-bold': c.unreadCount }"
          >
          {{ c.lastMessage.text }}
        </label>
      </div>
    </div>

    } }
